[run]
include = mangaki/*, irl/*, discourse/*
plugins = 
  django_coverage_plugin

[report]
exclude_lines = 
 pragma: no cover
 def __repr__

omit =
 */migrations/*
 mangaki/tools/*

show_missing = True
skip_covered = True
