[run]
include = mangaki/mangaki/*, mangaki/irl/*, mangaki/discourse/*
plugins = 
  django_coverage_plugin

[report]
exclude_lines = 
 pragma: no cover
 def __repr__
 def __str__

omit =
 mangaki/*/migrations/*
 mangaki/tools/*

show_missing = True
skip_covered = True
