[run]
source = mangaki, irl
omit = */tests/*.py, */migrations/*.py
plugins = 
  django_coverage_plugin

[report]
exclude_lines = 
 pragma: no cover
 def __repr__
 def __str__

show_missing = True
skip_covered = True
