.DS_Store
venv
.venv
db.sqlite3
*.pyc
data/
2015-*.txt
2016-*.txt
.ipynb_checkpoints
*.dump
*.npy
*.zip
*.pickle
/.vagrant
node_modules
fixtures/*.json
restore.sh
*.coverage
media
/provisioning/inventory
/provisioning/env_vars/
*.mo
.hypothesis
.mypy_cache
# Packaging
.eggs
dist/
mangaki.egg-info/
# Merci JJ <3
/mangaki/debug.log
# Configuration de Visual Studio Code
.vscode/
# Nix
result
result-*
# Qemu images
*.qcow2
