Alexis Rivière <nui.riviere@gmail.com>
Basile Clement <basile@clement.pm> Basile Clément <cbasile06@gmail.com>
Benoît Fort <benoit.fort@gmail.com>
cynddl <luc@rocher.lc> Cynddl <luc.rocher@ens-lyon.fr>
Dylan Tanguy <dylan.tanguy@gmail.com>
Emmanuel Gil Peyrot <linkmauve@linkmauve.fr>
Erwan 'Nyquist' Milis <erwan.milis@gmail.com>
fravoi <voisinf@gmail.com>
Jill-Jênn Vie <vie@jill-jenn.net> Jill-Jênn Vie <mickay.jill@free.fr>
makoto1412 <benoit.fort@gmail.com>
pierre <pierre.vigier@ymail.com>
Ryan Lahfa <masterancpp@gmail.com> Raito Bezarius <masterancpp@gmail.com>
Ryan Lahfa <masterancpp@gmail.com> Lahfa Ryan <masterancpp@gmail.com>
Soubi <camille.poquet@gmail.com> Soubi <soubi@Kyubey.home>
vendethiel <vendethiel@hotmail.fr>
Xia Li-yao <Lysxia@users.noreply.github.com>
Étienne Simon <esimon@esimon.eu>
