Django==1.9.0
algoliasearch-django
django-allauth
markdown
django-bootstrap-form
-e git+https://github.com/tindie/pydiscourse.git#egg=pydiscourse
psycopg2
numpy
#scipy
#scikit-learn
django-debug-toolbar
PyYAML
beautifulsoup4
lxml
