algoliasearch==1.7.1
algoliasearch-django==1.2.3
beautifulsoup4==4.4.1
cffi==1.4.2
cryptography==1.1.2
defusedxml==0.4.1
Django==1.9
django-allauth==0.24.0
django-bootstrap-form==3.2
django-debug-toolbar==1.4
django-filter==0.11.0
djangorestframework==3.3.2
gunicorn==19.4.1
idna==2.0
lxml==3.5.0
Markdown==2.6.5
ndg-httpsclient==0.4.0
numpy==1.10.2
oauthlib==1.0.3
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.14
-e git+https://github.com/tindie/pydiscourse.git@ab00eb9cf7975e646edd49c4340938279d7fb484#egg=pydiscourse-master
pyinotify==0.9.6
pyOpenSSL==0.15.1
python3-openid==3.0.9
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
sqlparse==0.1.18
wheel==0.24.0
