{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block body %}
<h1>Rejoignez Mangaki ／人◕ ‿‿ ◕人＼</h1>
<p>Et participez à la création d'un monde meilleur.</p>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers  %}

    <div class="socialaccount_ballot">

      <!-- <ul class="socialaccount_providers"> -->
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      <!-- </ul> -->

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

<p>Si vous avez déjà un compte, vous pouvez <a href="{{ login_url }}">vous connecter ici</a>.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">Inscription &raquo;</button>
</form>


{% endblock %}
