{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block anonymous_rating_banner %} {% endblock %}

{% block body %}
<h2 class="text-center">{% trans "Join Mangaki" %} <span class="text-nowrap">／人◕ ‿‿ ◕人＼</span></h2>
<p class="text-center">
  {% trans "And contribute to the creation of a better world." %}<br />
  {% blocktrans trimmed %}
  If you have already an account, you can <a href="{{ login_url }}">login</a>.
  {% endblocktrans %}
</p>

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers  %}
  <div class="socialaccount_ballot">
    <!-- <ul class="socialaccount_providers"> -->
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    <!-- </ul> -->
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

<div class="row">
  {% if ratings %}
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert">
      {% trans "You already rated a few works. They will be imported to your profile if you check the box <strong>Import my ratings</strong> below!" %}
    </div>
  </div>
  {% endif %}
  <form 
      class="col-xs-12 col-sm-6 {% if not ratings %}col-sm-offset-3{% endif %}"
      id="signup_form"
      method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    {% bootstrap_field form.username show_label=False addon_before='<span class="glyphicon glyphicon-user"></span>' %}
    {% bootstrap_field form.email show_label=False addon_before='<span class="glyphicon glyphicon-envelope"></span>' %}
    {% bootstrap_field form.password1 show_label=False addon_before='<span class="glyphicon glyphicon-lock"></span>' %}
    {% bootstrap_field form.password2 show_label=False addon_before='<span class="glyphicon glyphicon-lock"></span>' %}
  <div class="checkbox">
      <label>
          {{ form.newsletter_ok }} {% trans "Subscribe to Mangaki's newsletter" %} ({% trans "some waifus/husbandos in your mails?" %})
      </label>
  </div>
  <div class="checkbox">
      <label>
          {{ form.research_ok }} {% trans "My data can be used anonymously for research" %}
      </label>
  </div>
    {% if ratings %}
    <div class="checkbox">
      <label>
        {{ form.import_ratings }} {% trans "Import my ratings" %}
      </label>
    </div>
    {% endif %}
    {% buttons %}
      <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In &raquo;" %}</button>
    {% endbuttons %}
  </form>
  {% if ratings %}
  <div class="col-xs-12 col-sm-6">
    <h3 class="text-center" id="my-ratings">{% trans "My works" %}</h3>
    {% for category, works in ratings %}
      <h4>{{ category.name }}</h4>
      {% include "works_no_poster.html" with works=works category=category.slug config=meta.config only %}
    {% endfor %}
  </div>
  {% endif %}
</div>

  <!-- En vous inscrivant, vous acceptez que vos notes soient enregistrées par Mangaki pour maintenir votre profil à jour, vous recommander des anime, et améliorer les recommandations que reçoivent les autres utilisateurs. <a href="{% url 'faq' %}">Comment ça marche ?</a><br />
  Vous pouvez mettre à jour vos options dans votre profil. -->
<p class="text-center">
  {% trans "By subscribing, you accept that your ratings may be saved by Mangaki to keep your profile up-to-date, recommend anime to you, and improve other users' recommendations." %}
  <a href="{% url 'faq' %}">{% trans "How does it work?" %}</a><br />
  {% trans "You can update your options in your profile." %}
</p>

{% endblock %}
