[Unit]
Description=Compute top directors daily
After=postgresql
Type=oneshot
ExecStart={{ command_to_compute_top_directors }}

[Timer]
OnBootSec=15min
OnUnitActiveSec=1d

[Install]
WantedBy=timers.target
