html {
    height: 100%;
}

/*************
 *  GENERAL  *
 *************/
body {
    background: #fdfdfd;
    font-family:'Open Sans', sans-serif;
    height: 100%;
}

.jumbotron {
    background: #fdfdfd;
}

/*************
 *  LAYOUT  *
 *************/
.fb-container {
    display: flex;
    flex-flow: row;
}

/************
 *  HEADER  *
 ************/
/* Header nav */
header nav.navbar {
    margin: 0;
}

/**********
 *  BODY  *
 **********/

.margin { margin: 0 0 30px 0;} 
.margin10top { margin-top: 10px ;}

/* Margin for body to prevent unused space from the header/footer nav menu. */
body > .container {
    
}

#wrapper {
    margin: 0 auto -52px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

footer, #push {
    height: 52px;
}

.featured {
    padding-top: 2em;
    padding-bottom: 2em;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;

 border: 0px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0);}

input{
line-height: normal;

}
/**********
 *  CARROUSSEL  *
 **********/
.carousel-control.left{
background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);


}
.carousel-control.right{
background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);


}
/**********
 *  BUTTON  *
 **********/
.btn-mangaki{
color: #fff;
background-color: #E84C15;

}
.btn-lg{
padding: 25px 25px;
font-size: 20px;
line-height: 1.33;
border-radius: 5px;
white-space: normal;
}

/************
 *  FOOTER  *
 ************/
/* Centering the content in the footer nav menu. */
footer .navbar-collapse {
    text-align: center;
}
footer .navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

/* Footer is not fixed on small devices. */
@media(min-width: 768px) and (max-width: 1000px) {
    footer .navbar-fixed-bottom {
    position: inherit;
    }
}
.copyright{

font-size: 9px;
text-align: center;
color: #b2B2B2;
}

.partners {
	text-align: center;
	margin-top: 1em;
}

.partners div {
	margin: 1em 0;
	min-height: 100px;
	display: inline-block;
	vertical-align: middle;
}

.partners a {
	line-height: 100px;
	text-align: center;
}

.partners img {
	max-width: 100%;
	max-height: 100px;
	vertical-align: middle;
	
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

.partners img:hover
{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}

/********************
 *  OLD WORK CARDS  *
 ********************/
/* NOTE: Some of those are actually for events, because why not? */

.work-sheet {
    position: relative;
    margin-bottom: 20px;
    max-width: 225px;
}

/* A card in a grid, e.g. on the mosaic */
.works-list .work-sheet {
    margin: 0 auto 20px auto;
}

.works-list .manga-sheet {
    z-index: 32;
}

.not-chosen {
    opacity: 0.2;
}

.flatlist:hover {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.flatlist {
    padding: 2px 2px 2px 5px;
    border-radius: 4px;
}

.flatlist:after {
    display: block;
    content: '';
    clear: both;
}

#avatar {
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
}

.thumbnail.with-caption {
  display: inline-block;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}
.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}

/************
 *  EVENTS  *
 ************/
.event:not(:first-child) {
    margin-top: 20px;
}

.event-attending {
    text-align: right;
    margin-top: 5px;
}

ul.checklist {
    list-style-type: none;
}

ul.checklist li {
    position: relative;
}

ul.checklist .list-icon {
    position: absolute;
    left: -20px;
    top: 3px;
}

.list-icon-ok {
    color: #5cb85c;
}


/**
 * SEARCH INPUT
 *
 ** */

/** Base class **/
.search-input {
    width: 100%;
    font-size: 1.15em;
}

/***********
 * Ratings *
 ***********/

.rating {
  flex: 0 1 auto;
  height: 50px;
  width: 50px;
  margin: auto 4px auto 0;

  /* Create a stacking context for the position:absolute elements inside the
   * ratings, i.e. buttons and checkboxes. */
  position: relative;
}

.rating:first-child {
  margin: auto 4px;
}

.rating_separator {
  margin-left: auto;
}

.rating__checkbox {
  /* We position the checkbox over the button in order for tooltips to properly
   * be displayed over <used>'d SVGs on Firefox and Edge; see
   * https://github.com/twbs/bootstrap/issues/19670 and related browser bugs.
   */

  display: block;
  height: 100%;
  width: 100%;
  position: absolute;

  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.rating__button {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

  border-radius: 4px;
  box-shadow: 0 0 0 1.4px rgba(0, 0, 0, .1) inset;
}

.rating__icon {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;

  fill: rgba(255, 255, 255, 1);
}

.rating__checkbox:not(:checked) + .rating__button {
  opacity: 0.4;
}

.rating__checkbox:hover + .rating__button .rating__icon,
.rating__checkbox:focus + .rating__button .rating__icon {
  fill: rgb(0, 0, 0);
}

/* Colors for the various ratings we use. */
.rating_favorite .rating__button { background-color: #f8d549; }
.rating_like .rating__button { background-color: #5cb85c; }
.rating_neutral .rating__button { background-color: #f0ad4e; }
.rating_dislike .rating__button { background-color: #d9534f; }
.rating_willsee .rating__button { background-color: #428bca; }
.rating_wontsee .rating__button { background-color: #5bc0de; }
.rating_dontknow .rating__button { background-color: #5bc0de; }

.ratings {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;

  height: 60px;
}

.ratings_inline {
  display: inline-flex;
}

.ratings_small {
  height: 30px;
}

.ratings_medium {
  height: 45px;
}

.ratings_small .rating {
  height: 25px;
  width: 25px;
}

.ratings_medium .rating {
  height: 35px;
  width: 35px;
}

.ratings_disabled .rating__checkbox:not(:checked) + .rating__button {
    opacity: 0.1;
}

/**************
 * WORK CARDS *
 **************/

.work-card {
  display: flex;
  flex-direction: column;

  /* Cosmetics */
  background: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  overflow: hidden;

  /* Create a new stacking context for the work-cover's blurred background. */
  position: relative;
  z-index: 0;

  height: 320px;
  width: 260px;

  max-height: 90vh;
  max-width: 90vw;
}

.work-card.no-rating {
  width: 225px;
}

.work-card__title {
  font-family: 'Economica', 'Open Sans', sans-serif;
}

.work-card__media {
  height: 100%;
  width: 100%;
}

.work-cover {
  overflow: hidden;

  position: relative;

  background: center center no-repeat;
  background-size: 100% auto;
}

.work-cover_backdrop {
  background-size: 0;
}

.work-cover:before, .work-cover_backdrop:after {
  content: '';
  display: block;

  background: center center no-repeat;
  background-image: inherit;

  position: absolute;

  height: 100%;
  width: 100%;
}

.work-cover:before {
  z-index: -1;
  filter: opacity(50%) blur(10px);
  background-size: cover;
}

.work-cover_backdrop:after {
  background-size: 100% auto;
  /* transition: filter .5s ease-in; */
  will-change: filter;
}

.work-cover__wrapper {
  position: absolute;
  color: #fff;

  width: 100%;
  z-index: 1;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.work-cover__title {
  flex: 0 0 auto;
  width: 100%;
  padding: 8px 12px;

  word-wrap: break-word;

  background: rgba(0, 0, 0, 0.6);

  margin-top: auto;
}

.work-card__title {
  margin-top: .2em;
  margin-bottom: .1em;
}

.work-cover_backdrop:hover:after {
  filter: opacity(50%) blur(5px);
  /* transition: filter .5s ease-out; */
}

.work-cover__content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  height: 0;
  background: rgba(0, 0, 0, 0.6);

  /* transition: height .5s ease-in; */
  will-change: height;
}

.work-cover_backdrop:hover .work-cover__content {
  height: 100%;

  /* transition: height .5s ease-out; */
}

.work-cover__title_size_small {
  padding: 0 12px;
}

.work-cover__wrapper:before {
  content: attr(data-category);
  /* Inspired by https://codepen.io/eode9/pen/twkKm */
  width: 120px;
  background: #a83333;
  position: absolute;
  top: 15px;
  left: -30px;
  text-align: center;
  line-height: 26px;
  letter-spacing: 1px;
  color: #f0f0f0;
  text-transform: capitalize;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-size: 16px;

  /* The category should be below the content when hovered. */
  z-index: -1;
}

.work-cover__wrapper[data-category="manga"]:before {
  background: #273963;
}

.work-cover__wrapper[data-category="album"]:before {
  background: #48912c;
}

.work-card__content {
  flex: 0 1 auto;
  padding: 8px 12px;

  overflow-y: auto;
  overflow-x: hidden;
}

.work-card__extra {
  flex: 0 0 auto;
  height: auto;
  width: 100%;

  margin-top: auto;

  color: #767676;
  text-align: center;
}

.work-card__extra:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.work-card__content + .work-card__extra:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.work-card__content + .work-card__extra {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-gap: 0 10px;

  justify-content: space-around;
}

.cards-grid.no-rating {
  grid-template-columns: repeat(auto-fill, 225px);
}

.cards-grid > .work-card {
  margin: 15px auto;
}

/* This is a ugly hack for properly displaying a grid-like layout for browsers
 * that support flexbox but don't support CSS Grid Layout. It requires a few
 * dummy elements in the HTML, unfortunately. */
.cards-grid > .work-card:empty {
  height: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 auto;
}

.work-card_horizontal {
  flex-direction: row;
}

.work-card_horizontal .ratings {
  flex-direction: column;
  height: 100%;
  width: 60px;
}

.work-card_horizontal .ratings_small {
  width: 30px;
}

.work-card_horizontal .ratings_medium {
  width: 45px;
}

.work-card_horizontal .rating {
  margin: 0 auto 5px auto;
}

.work-card_horizontal .rating:first-child {
  margin: 5px auto;
}

.work-card_horizontal .rating_separator {
  margin-top: auto;
}

/* On very small devices, we move the buttons to the right. */
@media (max-width: 576px), (max-width: 768px) and (min-height: 400px) {
  .work-card {
    height: 360px;
    width: 300px;
  }

  .work-card.no-rating {
      width: 265px;
  }

  .cards-grid {
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .cards-grid.no-rating {
    grid-template-columns: repeat(auto-fill, 265px);
  }
}

.work-card_loading:before {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: #fff url('/static/img/chiro.gif') center center no-repeat;
  background-size: 95% 95%;
}

/* *******************
   * Shortcuts bar ***
   *******************
 */

@media (min-width: 1640px) {
    .shortcuts-explanations-container {
        margin: auto 20px auto -330px;
    }
}

@media (max-width: 1440px) and (min-width: 1024px) {
    .shortcuts-explanations-container {
        margin: auto;
    }
}

@media (max-width: 1023px) {
    .shortcuts-explanations-container {
        display: none;
    }
}


.shortcuts-explanations-container h3 {
    margin-bottom: 25px;
}

/* *******************
   * Mosaic section ***
   *******************
 */
.mosaic {
    flex: 1;
}

/* **********************
   * Loading Spinner    *
   * Taken from SpinKit *
   **********************
 */

.sk-circle {
  margin: 10px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/** * Transitions              *
    * For Vue animation system *
 */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
