/*************
 *  GENERAL  *
 *************/
body {
    background: #fdfdfd;
    font-family: Arial;
}

.jumbotron {
    background: #fdfdfd;
}

/************
 *  HEADER  *
 ************/
/* Header nav */
header nav.navbar {
    margin: 0;
}

/**********
 *  BODY  *
 **********/
/* Margin for body to prevent unused space from the header/footer nav menu. */
body > .container {
    margin-top: 75px;
    margin-bottom: 75px;
}

/************
 *  FOOTER  *
 ************/
/* Centering the content in the footer nav menu. */
footer .navbar-collapse {
    text-align: center;
}
footer .navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

/* Footer is not fixed on small devices. */
@media(max-width: 768px) {
    footer .navbar-fixed-bottom {
    position: inherit;
    }
}







.mangas-list .manga-sheet .row {
    margin-left: 0;
    margin-right: 0;
}
.mangas-list .manga-sheet .row > div {
    padding: 0;
}
.mangas-list .manga-sheet:hover .thumbnail {
    background-color: #CCC;
/*    margin-left: -10px;
    padding-left: 10px;
    margin-right: -10px;
    padding-right: 10px; */
}
.mangas-list .manga-sheet:hover .manga-snapshot .manga-snapshot-image {
    width: 100%;
}
.mangas-list .manga-sheet .thumbnail:not(:hover) {
    /*background-color: #DDD;*/
    /*border-color: #DDD;*/
    opacity: 0.8;
}

.mangas-list .manga-sheet .manga-snapshot {
    z-index: 64;
}
.mangas-list .manga-sheet .manga-snapshot .manga-snapshot-image {
/*    width: 110%; */
    height: 300px;
    background-size: cover;
    border-radius: 8px;
}

.mangas-list .manga-sheet .manga-votes {
    margin-top: 10px;
}

.mangas-list .manga-sheet .row .btn {
    margin-top: 1px;
    position: relative;
}
.mangas-list .manga-sheet .row .btn:hover {
    z-index: 128;
}
@media(min-width: 769px) {
    .mangas-list .manga-sheet .row .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    }
}

.thumbnail .col-md-12 {
    height: 4em;
    line-height: 4em;
}

.manga-sheet h1 {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    font-size: 1.3em;
    /* height: 2em; */
}

.not-chosen {
    opacity: 0.2;
}

.another .not-chosen {
    visibility: hidden;
}

.manga-snapshot-image, .manga-sheet h1 {
    cursor: pointer;
}

.flatlist:hover {
    background: #d9d9d9;
    /* font-size: 2em; */
}

.flatlist {
    padding: 2px 2px 2px 5px;
    border-radius: 4px;
}

#avatar {
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
}

.btn.a
{ 
   background-color: hsl(63, 100%, 62%) !important; 
   background-repeat: repeat-x; 
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8d549", endColorstr="#f8d549"); 
   background-image: -khtml-gradient(linear, left top, left bottom, from#f8d549(), to(#f8d549)); 
   background-image: -moz-linear-gradient(top, #f8d549, #f8d549); 
   background-image: -ms-linear-gradient(top, #f8d549, #f8d549); 
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8d549), color-stop(100%, #f8d549)); 
   background-image: -webkit-linear-gradient(top, #f8d549, #f8d549); 
   background-image: -o-linear-gradient(top, #f8d549, #f8d549); 
   background-image: linear-gradient(#f8d549,#f8d549); 
   border-color: #f8d549 #f8d549 hsl(63, 100%, 55%); 
   color: #ffffff !important; 
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.46); 
   -webkit-font-smoothing: antialiased;
} 

.label.a
{ 
   background-color: hsl(63, 100%, 62%) !important; 
   background-repeat: repeat-x; 
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8d549", endColorstr="#f8d549"); 
   background-image: -khtml-gradient(linear, left top, left bottom, from#f8d549(), to(#f8d549)); 
   background-image: -moz-linear-gradient(top, #f8d549, #f8d549); 
   background-image: -ms-linear-gradient(top, #f8d549, #f8d549); 
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8d549), color-stop(100%, #f8d549)); 
   background-image: -webkit-linear-gradient(top, #f8d549, #f8d549); 
   background-image: -o-linear-gradient(top, #f8d549, #f8d549); 
   background-image: linear-gradient(#f8d549,#f8d549); 
   border-color: #f8d549 #f8d549 hsl(63, 100%, 55%); 
   color: #ffffff !important; 
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.46); 
   -webkit-font-smoothing: antialiased;
} 