

/*************
 *  GENERAL  *
 *************/
body {
    background: #fdfdfd;
    font-family:'Open Sans', sans-serif;
}

.jumbotron {
    background: #fdfdfd;
}


/************
 *  HEADER  *
 ************/
/* Header nav */
header nav.navbar {
    margin: 0;
}

/**********
 *  BODY  *
 **********/

.margin { margin: 30px 0 30px 0;}
.margin10top { margin-top: 10px ;}

/* Margin for body to prevent unused space from the header/footer nav menu. */
body > .container {
    margin-top: 75px;
    margin-bottom: 75px;

}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;

 border: 0px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0);}

input{
line-height: normal;

}
/**********
 *  CARROUSSEL  *
 **********/
.carousel-control.left{
background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);


}
.carousel-control.right{
background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);


}
/**********
 *  BUTTON  *
 **********/
.btn-mangaki{
color: #fff;
background-color: #E84C15;

}
.btn:hover, .btn:focus {
color: #fff;
text-decoration: none;
}
.btn-lg{
padding: 25px 25px;
font-size: 20px;
line-height: 1.33;
border-radius: 5px;


}





/************
 *  FOOTER  *
 ************/
/* Centering the content in the footer nav menu. */
footer .navbar-collapse {
    text-align: center;
}
footer .navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

/* Footer is not fixed on small devices. */
@media(min-width: 768px) and (max-width: 1000px) {
    footer .navbar-fixed-bottom {
    position: inherit;
    }
}
.copyright{

font-size: 9px;
text-align: center;
color: #b2B2B2;
}

.partners {
	text-align: center;
	margin-top: 1em;
}

.partners div {
	margin: 1em 0;
	min-height: 100px;
	display: inline-block;
	vertical-align: middle;
}

.partners a {
	line-height: 100px;
	text-align: center;
}

.partners img {
	max-width: 100%;
	max-height: 100px;
	vertical-align: middle;
	
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

.partners img:hover
{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}

/****************
 *  WORK CARDS  *
 ****************/

.work-sheet {
    position: relative;
    margin-bottom: 20px;
    max-width: 225px;
}

/* A card in a grid, e.g. on the mosaic */
.works-list .work-sheet {
    margin: 0 auto 20px auto;
}

.work-snapshot {
    width: 100%;
    display: block;
}

.work-snapshot-image {
    width: 100%;
    position: relative;
    opacity: 0.8;
}

.work-sheet:hover .work-snapshot-image {
    opacity: 1;
}

.work-snapshot-image:before {
    content: "";
    display: block;
    /* This is the aspect ratio for the posters. Currently, we force the width
     * to 225px in .work-sheet above, and we want the corresponding height to
     * be 321px, so the aspect ratio has to be 321/225 = 142.667%.
     */
    padding-top: 142.667%;
}

.work-snapshot-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.work-snapshot-title {
    width: 100%;
    height: 4em;
    line-height: 4em;
    border-radius: 0 0 10px 10px;
    box-shadow: #e3e4e6 0px 2px 2px;
}

.work-snapshot-title h4 {
    vertical-align: middle;
    display: inline-block;
}

.work-votes {
    position: absolute;
    top: 0;
    right: -20%;
    width: 20%;
    height: 100%;
}

.work-votes .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 1px;
    position: relative;
    /* Display the button over sibling posters, if needed */
    z-index: 64;
}

.works-list .manga-sheet {
    z-index: 32;
}

.work-synopsis {
    position: absolute;
    bottom: -5px;
    overflow: auto;
    line-height: 2.5ex;
    max-height: 30ex;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    color: #000;
    box-shadow: #e3e4e6 0px -2px 2px;
    padding: 5px 1ex 0px 1ex;
    background: linear-gradient(to bottom, rgba(253, 253, 253, 0.8) 0%, rgb(253, 253, 253) 100%);
    display: none;
    text-align: justify;
}

.work-snapshot:hover .work-synopsis {
    display: block;
}

.not-chosen {
    opacity: 0.2;
}

.another .not-chosen {
    visibility: hidden;
}

.flatlist:hover {
    background: #d9d9d9;
    /* font-size: 2em; */
}

.flatlist {
    padding: 2px 2px 2px 5px;
    border-radius: 4px;
}

#avatar {
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
}

.btn-favorite {
color: #fff;
background-color: #f8d549;
border-color: #f8d549;

}
.label-favorite {
background-color: #f8d549;
}

.thumbnail.with-caption {
  display: inline-block;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}
.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}
