from .settings_base import *

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ secret_key | mandatory }}'
DEBUG = False

DISCOURSE_SSO_SECRET = '{{ discourse_sso_secret }}'
DISCOURSE_API_USERNAME = '{{ discourse_api_username }}'
DISCOURSE_API_KEY = '{{ discourse_api_key }}'

MAL_USER = '{{ mal_user }}'
MAL_PASS = '{{ mal_pass }}'
MAL_USER_AGENT = '{{ mal_user_agent }}'

# Database
# https://docs.djangoproject.com/en/1.7/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ mangaki_db_name | default("mangaki") }}',
        'USER': '{{ mangaki_db_user | default("mangaki") }}',
        'PASSWORD': '{{ mangaki_db_password | mandatory }}',
        'HOST': '127.0.0.1',
        'PORT': '5432'
    }
}

DUMMY = '{{ ansible_os_family | checksum }}'
HASH_PADDLE = '{{ hash_paddle | default("some_paddle") }}'

SITE_ID = 1
    
INSTALLED_APPS += (
    'allauth.socialaccount.providers.google',
    'allauth.socialaccount.providers.twitter',
    'allauth.socialaccount.providers.facebook',
)

# Analytical

GOOGLE_ANALYTICS_PROPERTY_ID = '{{ google_ua_id }}'
