---
- include: prepare_nginx.yml

# Workaround handlers not called at the end of the `prepare_nginx.yml` block.
# FIXME: there should be a more elegant way to handle this.
- name: Ensure nginx has restarted
  service: name=nginx state=restarted
  become: true
  become_user: root

- include: prepare_letsencrypt.yml
  when: use_letsencrypt

- assert:
    that:
      - "letsencrypt_ready == true"
    msg: "Let\'s Encrypt must be ready after its setup."
  when: use_letsencrypt

- name: Generate dhparams
  become: true
  become_user: root
  command: /usr/bin/openssl dhparam -out {{ ssl_dhparam }} 2048
  args:
    creates: '{{ ssl_dhparam }}'

- include: add_https.yml
  notify: reload nginx

- name: Ensure nginx is running
  become: true
  become_user: root
  service: name=nginx state=started enabled=true
