{% extends "base.html" %}
{% load i18n %}

{% block body %}
<div>
    <h1 style="margin-bottom: 0.6em; text-align: center">{% trans "What series should you watch next?" %} </h1>
    <!-- "Quelle sera votre prochaine série favorite&nbsp;?" -->

    <figure style="float: left; margin-top: 1em; margin-right: 1em">
        <img src="/static/img/chiro.png" alt="Chiro" height="128">
    </figure>

    <p>{% trans "Mangaki is an anime/manga recommendation website made by an organization of otakus." %}</p>
    <!-- Mangaki est un <strong>site de recommandation de mangas et d'anime</strong> créé par une association. -->

    <p>{% trans "Tell him what you watched or read, and our algorithm (open source) will find new precious pearls for you to discover!" %}</p>
    <!-- À partir des séries que vous avez vues ou lues, <strong>notre algorithme</strong> détermine de nouvelles pépites susceptibles de vous plaire&nbsp;! -->

    <p>{% trans "Join us!" %}</p>
    <a href="mailto:jj@mangaki.fr" class="btn btn-danger">{% trans "Contact us" %}</a>
    <a href="https://github.com/mangaki/mangaki/wiki" target="_blank" class="btn btn-primary">{% trans "Browse the wiki" %}</a>
    <a href="https://github.com/mangaki/mangaki/" target="_blank" class="btn btn-primary">{% trans "See the code on GitHub" %}</a>
</div>
<hr />
<div>
    <h1 style="margin-bottom: 0.6em; text-align: center">{% trans "Learn data science through Mangaki" %}</h1>
    <!-- Découvrez la data science à travers Mangaki -->

    <figure style="float: left; margin-top: 1em; margin-right: 1em">
        <img src="/static/img/chiro.png" alt="Chiro" height="128">
    </figure>

    <p>{% trans "Our algorithm is open source, so you can understand it, and improve it!" %}</p>
    <!-- Notre algorithme est open source, donc vous pouvez l'étudier, et proposer des améliorations. -->

    <p>{% trans "Do you know: nearest neighbors, singular value decomposition, Netflix prize, autoencoder?"%}</p>
    <!-- Connaissez-vous ces termes&nbsp;: plus proches voisins, décomposition en valeurs singulières, prix Netflix, autoencodeur&nbsp;? -->

    <p>{% trans "Come and learn all that on our GitHub repo or in our organization!" %}</p>
    <!-- Venez apprendre tout cela sur le repo ou dans l'asso. -->
    <a href="mailto:jj@mangaki.fr" class="btn btn-danger">{% trans "Contact us" %}</a>
    <a href="http://research.mangaki.fr" target="_blank" class="btn btn-primary">{% trans "Browse the research blog" %}</a>
    <a href="https://github.com/mangaki/mangaki/" target="_blank" class="btn btn-primary">{% trans "See the code on GitHub" %}</a>
</div>
<br />
<br />
<br />
{% endblock %}
