{% extends "base.html" %}
{% load i18n %}

{% block body %}
<div>
    <h1 style="margin-bottom: 0.6em; text-align: center">{% trans "What series should you watch next?" %} </h1>
    <!-- "Quelle sera votre prochaine série favorite&nbsp;?" -->

    <figure style="float: left; margin-top: 1em; margin-right: 1em">
        <img src="/static/img/chiro.png" alt="Chiro" height="128">
    </figure>

    <p>{% trans "Mangaki est un <strong>site de recommandation de mangas et d'anime</strong> créé par une association." %}</p>

    <p>{% trans "À partir des séries que vous avez vues ou lues, <strong>notre algorithme</strong> détermine de nouvelles pépites susceptibles de vous plaire&nbsp;!" %}</p>

    <p>{% trans "Si vous souhaitez participer à l'aventure, il y a plein de choses à faire&nbsp;!" %}</p>
    <a href="mailto:jj@mangaki.fr" class="btn btn-danger">{% trans "Nous contacter" %}</a>
    <a href="https://github.com/mangaki/mangaki/wiki" target="_blank" class="btn btn-primary">{% trans "Consulter le wiki" %}</a>
    <a href="https://github.com/mangaki/mangaki/" target="_blank" class="btn btn-primary">{% trans "Voir le code sur GitHub" %}</a>
</div>
<hr />
<div>
    <h1 style="margin-bottom: 0.6em; text-align: center">{% trans "Découvrez la data science à travers Mangaki" %}</h1>

    <figure style="float: left; margin-top: 1em; margin-right: 1em">
        <img src="/static/img/chiro.png" alt="Chiro" height="128">
    </figure>

    <p>{% trans "Notre algorithme est open source, donc vous pouvez l'étudier, et proposer des améliorations." %}</p>

    <p>{% trans "Connaissez-vous ces termes&nbsp;: plus proches voisins, décomposition en valeurs singulières, prix Netflix, autoencodeur&nbsp;? "%}</p>

    <p>{% trans "Venez apprendre tout cela sur le repo ou dans l'asso." %}</p>
    <a href="mailto:jj@mangaki.fr" class="btn btn-danger">{% trans "Nous contacter" %}</a>
    <a href="http://research.mangaki.fr" target="_blank" class="btn btn-primary">{% trans "Consulter le blog" %}</a>
</div>
<br />
<br />
<br />
{% endblock %}
