<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block opengraph %}{% endblock %}
    <title>{% block title %}Mangaki{% endblock %}</title>
    <link rel="icon" href="/static/img/favicon.png">
    <script src="/static/js/jquery-latest.min.js"></script>
    <script src="/static/js/bootstrap-switch.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/handlebars.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/skin.js"></script>
    <script src="/static/js/vote.js"></script>
    <script src="/static/js/typeahead.bundle.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <script src="/static/js/tooltip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" href="/static/css/typeahead.css" />
    <link rel="stylesheet" href="/static/css/skin.css" />
    <link rel="stylesheet" href="/static/css/test.css" />
</head>

<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
                        <span class="sr-only">Ouvrir le menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/static/img/minilogo.png" style="margin-top: -10px; margin-left: 5px" />
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="menu-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/about/">
                                C'est quoi ?
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/anime/">
                                Anime
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="/manga/">
                                Mangas
                            </a>
                        </li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="/u/{{ user.username }}">
                                Mon profil
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="/reco/">
                                Recommandations
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="/users/">
                                Utilisateurs
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="http://meta.mangaki.fr/session/sso" target="_blank">
                                Forum
                            </a>
                        </li>
                    {% endif %}
                        <li class="dropdown">
                            <a href="/events/">
                                Calendrier
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="/top/directors/">
                                Top 20
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li><a href="/user/login/?next={{ request.get_full_path|urlencode }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Connexion</a></li>
                        <li><a href="/user/signup/?next={{ request.get_full_path|urlencode }}"><span class="glyphicon glyphicon-user"></span>&nbsp;Inscription</a></li>
                    {% else %}
                        <li><a href="#">Bienvenue, <strong>{{ user.username }}</strong> !</a></li>
                        <li><a href="/user/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Quitter</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <nav class="navbar navbar-default">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about/"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Le projet</a></li>
                    <li><a href="/faq/"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;FAQ</a></li>
                    <li><a href="/cgu/"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;CGU</a></li>
                    <li><a href="https://twitter.com/mangakifr" target="_blank">@mangakifr</a></li>
                    <li><a href="mailto:info@mangaki.fr"><span class="glyphicon glyphicon-heart"></span>&nbsp;info@mangaki.fr</a></li>
                </ul>
            </div>
        </nav>
    </footer>
    <script>
        $("nav [href='{{ request.path }}']").parents("li").addClass('active');
    </script>
</body>
</html>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63869890-1', 'auto');
  ga('send', 'pageview');

</script>
