{% load anonymous_ratings %}
{% load bootstrap3 %}
{% load i18n %}
{% load version %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% trans "Mangaki is an anime & manga recommendation website" %}">
    {% block opengraph %}{% endblock %}
    {% block twittercard %}{% endblock %}
    <title>{% block title %}Mangaki{% endblock %}</title>
    <link rel="icon" href="/static/img/favicon.png">
    <link rel="apple-touch-icon" href="/static/img/touch-icon-iphone.png">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/css-toggle-switch@4/dist/toggle-switch.min.css">
    <link rel="stylesheet" href="/static/css/typeahead.css"/>
    <link rel="stylesheet" href="/static/css/skin.css"/>
    <!-- Social Share Kit CSS -->
    <link rel="stylesheet" href="/static/css/social-share-kit.css"/>
    <link href="https://fonts.googleapis.com/css?family=Economica|Open+Sans" rel="stylesheet">
</head>

<body>
<div id="wrapper">
    <header class="navbar navbar-default">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#menu-collapse">
                        <span class="sr-only">{% trans "Open the menu" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="/static/img/minilogo.png" style="margin-top: -10px; margin-left: 5px"/>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="menu-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            {% get_current_language as LANGUAGE_CODE %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span>&nbsp;{{ LANGUAGE_CODE }} <span class="caret"></span></a>

                            <script>
                                function sendlang(lang) {
                                    $.post('/i18n/setlang/', {language: lang}, data => {
                                        if (window.location.pathname.substring(0, 6) == '/about') {
                                            window.location.href = '/about';
                                        } else {
                                            window.location.reload();
                                        }
                                    });
                                }
                            </script>

                            {% get_available_languages as LANGUAGES %}
                            <ul class="dropdown-menu" aria-label="language-submenu" aria-hidden="true">
                                {% for lang_code, lang_name in LANGUAGES %}
                                    <li><a href="javascript:sendlang('{{ lang_code }}')" class="inactive">{{ lang_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'about' LANGUAGE_CODE %}">
                                {% trans "What is Mangaki?" %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="{% url 'work-list' 'anime' %}">
                                {% trans "Anime" %}
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'work-list' 'manga' %}">
                                {% trans "Mangas" %}
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'reco' %}">
                                {% trans "Recommendations" %}
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'events' %}">
                                {% trans "Events" %}
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% trans "Top 20" %} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-label="top20-submenu" aria-hidden="true">
                                <li><a href="{% url 'top' 'directors' %}">{% trans "Directors" %}</a></li>
                                <li><a href="{% url 'top' 'composers' %}">{% trans "Composers" %}</a></li>
                                <li><a href="{% url 'top' 'authors' %}">{% trans "Authors" %}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'fix-index' %}">
                                {% trans "Suggestions" %}
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}"><span
                                    class="glyphicon glyphicon-log-in"></span>&nbsp;{% trans "Log in" %}</a></li>
                            <li><a href="{% url 'account_signup' %}?next={{ request.get_full_path|urlencode }}"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;{% trans "Signup" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'profile' user.username %}">
                                {% blocktrans with username=user.username %}
                                Welcome, <strong>{{ user }}</strong>!
                                {% endblocktrans %}
                            </a>
                            </li>
                            <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;{% trans "Log out" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        {% block anonymous_rating_banner %}
        {% if request|has_anonymous_ratings %}
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    Vous avez noté certaines œuvres de manière anonyme, vous pouvez <a href="{% url 'my-profile' %}">les
                    voir</a>, n'oubliez pas de vous <a href="{% url 'account_signup' %}">inscrire</a> pour pouvoir les
                    sauvegarder!
                </div>
            </div>
        {% endif %}
        {% endblock %}
        {% block body %}{% endblock %}
    </div>
    <div id="push"></div>
</div>

<footer>
    <nav class="navbar navbar-default">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'about' 'fr' %}"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;
                    {% trans "Mangaki project" %}</a></li>
                <li><a href="{% url 'faq' %}"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                    {% trans "FAQ" %}</a></li>
                <li><a href="{% url 'legal' %}"><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;
                    {% trans "Legal mentions" %}</a></li>
                <li><a href="{% url 'cgu' %}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                    {% trans "Guidelines" %}</a></li>
                <li><a href="https://twitter.com/mangakifr" target="_blank">@mangakifr</a></li>
                <li><a href="mailto:jj@mangaki.fr"><span class="glyphicon glyphicon-envelope"></span>&nbsp;{% trans "Contact:" %}
                    jj@mangaki.fr</a></li>
                <li><a href="https://github.com/mangaki/mangaki/issues" target="_blank"><span
                        class="glyphicon glyphicon-fire"></span>&nbsp;{% trans "Report a bug" %}</a></li>
                <li><a href="https://paypal.me/mangaki" target="_blank"><span
                        class="glyphicon glyphicon-heart"></span>&nbsp;{% trans "Donate" %}</a></li>
                <li>
                    <a href="https://github.com/mangaki/mangaki/commits/{% mangaki_revision %}">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        {% trans "Version:" %} {% mangaki_version %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</footer>

<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
<script src="/static/js/jquery-latest.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/handlebars.js"></script>
<script src="/static/js/csrf.js"></script>
<script src="/static/js/skin.js"></script>
<script src="/static/js/vote.js"></script>
<script src="/static/js/typeahead.bundle.js"></script>
<script src="/static/js/autocomplete.js"></script>
<script src="/static/js/tooltip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.min.js" integrity="sha256-z6XYkzzC5o+5PhoIPMpyq5FOZkWFGiWa0NFIDPJ57zU=" crossorigin="anonymous"></script>
<script>
    $("nav [href='{{ request.path }}',~class=inactive]").parent("li").addClass('active');

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% block extrajs %}{% endblock %}
</body>
</html>
