{% extends "base.html" %}

{% block body %}
<div>
    Pour l'ajouter à votre calendrier, cliquez sur le bouton <img src="https://www.google.com/calendar/images/calendar_plus_en.gif" alt="Add to calendar" style="vertical-align: middle" /> en bas à droite.
    <a href="https://www.google.com/calendar/ical/pdel76g7580k0uemfj733qktko%40group.calendar.google.com/public/basic.ics" class="btn btn-primary">Télécharger le .ics</a>

    <iframe src="https://www.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=pdel76g7580k0uemfj733qktko%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=Europe%2FParis" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<br />
<br />
<br />
{% endblock %}
