{% extends "base.html" %}

{% block opengraph %}
<meta property="og:title" content="Événements - Mangaki" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://mangaki.fr/events/" />
<meta property="og:image" content="http://mangaki.fr/static/img/chiro.png" />
<meta property="og:description" content="Les derniers événements en date de l'association Mangaki" />
<meta name="description" content="Événements liés à la japanimation en France. Également des concours organisés par l'association Mangaki." />
{% endblock %}

{% block twittercard %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@mangakifr" />
<meta name="twitter:title" content="Événements - Mangaki" />
<meta name="twitter:description" content="Les derniers événements en date de l'association Mangaki" />
<meta name="twitter:image" content="http://mangaki.fr/static/img/chiro.png" />
{% endblock %}

{% block body %}
<div id="events">
    <h1>Conférence à MANPU 2017, musée du manga à Kyoto</h1>
    <p>Nous avons présenté notre algorithme de recommandation (BALSE !) au workshop <a href="http://manpu2017.imlab.jp">MANPU</a> de la conférence <a href="http://u-pat.org/ICDAR2017/index.php">ICDAR</a> en novembre 2017 à Kyoto.</p>

    <ul>
        <li><a href="http://jill-jenn.net/slides/manpu2017.pdf">Slides</a></li>
        <li>Notre article : <a href="https://arxiv.org/pdf/1709.01584.pdf">Using Posters to Recommend Anime and Mangas in a Cold-Start Scenario</a> (PDF)</li>
        <li><a href="https://github.com/mangaki/balse" target="_blank">Code</a> sur GitHub</li>
    </ul>

    <blockquote class="twitter-tweet" data-lang="fr"><p lang="ja" dir="ltr">理研AIPはどこに向かっているんだ…… <a href="https://t.co/kZcuL8IGih">https://t.co/kZcuL8IGih</a> <a href="https://t.co/0i1d0FlQ0o">pic.twitter.com/0i1d0FlQ0o</a></p>&mdash; Yosuke Shinya (@shinya7y) <a href="https://twitter.com/shinya7y/status/929331739515691008?ref_src=twsrc%5Etfw">11 novembre 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    <hr />


    <h1>Conférence à l'École polytechnique</h1>
    <p>
        Nous avons présenté nos benchmarks d'algorithmes de recommandation à l'École polytechnique, dans le cadre du BADAS (binet algorithmes et data science).
    </p>

    <h3>La vidéo en français</h3>
    <iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/rFZVTruB0pM" frameborder="0" allowfullscreen></iframe>
    <hr />


    <h1>Conférence à Hacker News Kansai, Kobé, Japon</h1>
    <p>
        De passage à Kobé, nous avons participé au meetup <a href="http://hnkansai.org">Hacker News Kansai</a>.
    </p>

    <h3>La vidéo en anglais</h3>
    <iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/4C5sSgSZNf0" frameborder="0" allowfullscreen></iframe>
    <hr />


    <h2 id="concours-kizumonogatari-lien-en-partenariat-avec-wakanim">Concours Kizumonogatari avec <a href="http://{{ wakanim.url }}" target="_blank" title="{{ wakanim.name }}">Wakanim</a> (2016)</h2>
    <h4 id="deux-albums-utamonogatari-lien-à-gagner">À gagner : deux albums Utamonogatari</h4>

    <div class="row">
        <p>Gagnants : <a href="{% url 'profile' 'KyouyuuSuru' %}">KyouyuuSuru</a> et <a href="{% url 'profile' 'Aldherrian' %}">Aldherrian</a></p>

        <blockquote data-cards="hidden" class="twitter-tweet" lang="fr"><p lang="fr" dir="ltr">Et du coup le loot gagné grâce au concours <a href="https://twitter.com/MangakiFR">@MangakiFR</a>. Merci beaucoup à vous c&#39;est super cool ! &lt;3 <a href="https://t.co/382tVh7g9x">pic.twitter.com/382tVh7g9x</a></p>&mdash; KyouyuuSuru (@KyouyuuSuru) <a href="https://twitter.com/KyouyuuSuru/status/693206533207953409">29 Janvier 2016</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <h2>Concours Final Symphony II (2015)</h2>
    <h4>À gagner : une place pour le concert <a href="http://www.barbican.org.uk/music/event-detail.asp?id=17972" target="_blank">Final Symphony II</a> au Barbican à Londres</h4>

    <p>Gagnant : <a href="{% url 'profile' 'linkmauve' %}">linkmauve</a></p>
    <div class="thumbnail with-caption">
        <img src="/static/img/sponsors/linkmauve.jpg" width="600" />
        <div class="caption">
            <small><a href="{% url 'profile' 'jj' %}">JJ</a> &amp; <a href="{% url 'profile' 'linkmauve' %}">linkmauve</a> au <a href="https://london.hackspace.org.uk" target="_blank">London Hackerspace</a>, samedi 12 septembre 2015.</small>
        </div>
    </div>

</div>
<br />
<br />
<br />
{% endblock %}
