{% extends "base.html" %}

{% block body %}
{% load account socialaccount %}

{% get_providers as socialaccount_providers %}
<div class="row featured text-center">
    <h1>Mangaki, la recommandation d'anime et manga.</h1>
    <h3 style="margin-bottom: 1em">Notez vos séries favorites, on vous en fera découvrir d'autres !</h3>
{% if not user.is_authenticated %}
    <div class="col-md-4 col-sm-12 text-center margin">
        <a class="btn btn-mangaki btn-lg" href="{% url 'about' %}">En savoir plus</a>
    </div>
    <div class="col-md-4 col-sm-12 margin">
        {% include "socialaccount/snippets/provider_list.html" with process="login" verb="try" %}
    </div>
    <div class="col-md-4 col-sm-12 text-center margin">
        <img src="/static/img/pins.png" align="left" />
        <iframe src="https://ghbtns.com/github-btn.html?user=mangaki&repo=mangaki&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=mangaki&repo=mangaki&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
    </div>
{% else %}
    {% if is_mal_import_available %}
    <div class="col-md-4 col-sm-12 text-center margin">
        <a class="btn btn-mangaki btn-lg" href="{% url 'profile' user.username %}">Import myAnimeList</a>
    </div>
    {% endif %}
    <div class="col-md-4 col-sm-12 text-center margin">
        <a class="btn btn-mangaki btn-lg" href="{% url 'work-list' 'anime' %}">C'est parti !</a>
    </div>
    <div class="col-md-4 col-sm-12 text-center margin">
        <a class="btn btn-mangaki btn-lg" href="https://github.com/mangaki/mangaki/wiki" target="_blank">Contribuer à Mangaki</a>
    </div>
{% endif %}
</div>
<div class="row featured">
    <div class="col-md-6 col-sm-12">
      <div style="width: 80%; margin: auto;">
        <h2 class="col-xs-12" style="font-size: 1.9em; margin-top: 0; text-align: center;">
            Dernières nouveautés
        </h2>
        <blockquote class="twitter-tweet" data-lang="fr"><p lang="fr" dir="ltr">Nous avons été mentionnés dans un article de recherche brésilien ! Nos débuts à l&#39;international :D <a href="https://twitter.com/jjvie">@jjvie</a> <a href="https://twitter.com/Sedeto">@Sedeto</a> <a href="https://twitter.com/LesLueursdeLily">@LesLueursdeLily</a> <a href="https://t.co/B9Pm1qYgR5">pic.twitter.com/B9Pm1qYgR5</a></p>&mdash; Mangaki (@MangakiFR) <a href="https://twitter.com/MangakiFR/status/810082665869246464">17 décembre 2016</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <h2 class="col-xs-12" style="font-size: 1.9em; margin-top: 0; margin-bottom: 1em; text-align: center;">
          Comment ça marche ?
        </h2>
        <img src="/static/img/help.jpg" style="max-width: 100%" />
    </div>
</div>

<div class="partners row">
	{% for partner in partners %}
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="http://{{ partner.url }}" target="_blank" title="{{ partner.name }}"><img  src="/static/img/sponsors/small/{{ partner.image }}" /></a>
	</div>
	{% endfor %}
</div>

<br />
<br />
<br />
{% endblock %}
