{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="col-md-6 col-sm-12">
        Bon ben… on a gagné la Student Demo Cup. <a href="http://meta.mangaki.fr/t/mangaki-remporte-la-student-demo-cup-categorie-enterprise/605" target="_blank">Discutez-en sur le forum !</a>

        <blockquote class="twitter-tweet" lang="fr"><p lang="fr" dir="ltr">Le prix <a href="https://twitter.com/hashtag/enterprise?src=hash">#enterprise</a> revient à <a href="https://twitter.com/MangakiFR">@MangakiFR</a> !!! Félicitation et bravo à ts les autres pr vos sujets projets <a href="https://twitter.com/hashtag/OSSPARIS15?src=hash">#OSSPARIS15</a> <a href="https://t.co/PPnd5yjx9N">pic.twitter.com/PPnd5yjx9N</a></p>&mdash; Open Source Summit (@OSS_Paris) <a href="https://twitter.com/OSS_Paris/status/667035729223131136">18 Novembre 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="row">
            {% if not user.is_authenticated %}
            <div class="col-md-4 col-sm-12 margin" style="text-align: center"> <a class="btn btn-mangaki btn-lg" href="/about/">En savoir plus</a></div>
            <div class="col-md-4 col-sm-12 margin" style="text-align: center"> <a class="btn btn-mangaki btn-lg" href="/user/signup/">S'inscrire</a></div>
            <div class="col-md-4 col-sm-12 margin" style="text-align: center"> <a class="btn btn-mangaki btn-lg" href="https://github.com/mangaki/mangaki" target="_blank">Voir sur GitHub</a> </div>
            {% else %}
                <!-- <div class="col-md-3 col-sm-3 margin" style=""> </div> -->
             <div class="col-md-3 col-sm-12 margin text-center">     <a class="btn btn-mangaki btn-lg" href="/anime/">C'est parti !</a></div>
             <div class="col-md-6 col-sm-12 margin text-center">     <a class="btn btn-mangaki btn-lg" href="/u/{{ user.username }}">Import myAnimeList</a></div>
             <div class="col-md-3 col-sm-12 margin text-center">     <a class="btn btn-mangaki btn-lg" href="https://github.com/mangaki/mangaki/wiki">Contribuer</a></div>
             
            {% endif %}

            <div class="row" style="text-align: center">
                <div class="col-md-12 col-sm-12 margin"><img src="/static/img/help.jpg" style="max-width: 100%" /></div>
            </div>
        </div>
    </div>
</div>

<div class="partners row">
	{% for partner in partners %}
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="http://{{ partner.url }}" target="_blank" title="{{ partner.name }}"><img  src="/static/img/sponsors/small/{{ partner.image }}" /></a>
	</div>
	{% endfor %}
</div>

<br />
<br />
<br />
{% endblock %}
