{% extends "base.html" %}

{% block body %}

<div class="row">
  <h1 style="margin-bottom: 0.6em; text-align: center">Mangaki, la recommandation d'anime et manga</h1>
  <div class="col-md-6 col-sm-12">
    <p class="col-xs-12" style="font-size: 20pt; line-height: 32px; text-align: center;">
      Participez au <a href="/events/">jeu-concours</a> Kizumonogatari pour remporter un album Utamonogatari&nbsp;!
    </p>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 manga-sheet text-center">
      <div class="work-sheet data" data-category="anime" data-id="{{ kizumonogatari.id }}">
        {% include "work_rating.html" with category="anime" work=kizumonogatari show_title=True %}
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 manga-sheet text-center">
      <div class="work-sheet data" data-category="album" data-id="{{ utamonogatari.id }}">
        {% include "work_rating.html" with category="album" work=utamonogatari show_title=True  %}
      </div>
    </div>
  </div>

    <div class="col-md-6 col-sm-12">
        <div class="row">
            {% if not user.is_authenticated %}
            <div class="col-md-4 col-sm-12 margin" style="text-align: center"> <a class="btn btn-mangaki btn-lg" href="/about/">En savoir plus</a></div>
            <div class="col-md-4 col-sm-12 margin" style="text-align: center"> <a class="btn btn-mangaki btn-lg" href="/user/signup/">S'inscrire</a></div>
            <div class="col-md-4 col-sm-12 margin" style="text-align: center"> <a class="btn btn-mangaki btn-lg" href="https://github.com/mangaki/mangaki" target="_blank">Voir sur GitHub</a> </div>
            {% else %}
                <!-- <div class="col-md-3 col-sm-3 margin" style=""> </div> -->
             <div class="col-md-3 col-sm-12 margin text-center">     <a class="btn btn-mangaki btn-lg" href="/anime/">C'est parti !</a></div>
             <div class="col-md-6 col-sm-12 margin text-center">     <a class="btn btn-mangaki btn-lg" href="/u/{{ user.username }}">Import myAnimeList</a></div>
             <div class="col-md-3 col-sm-12 margin text-center">     <a class="btn btn-mangaki btn-lg" href="https://github.com/mangaki/mangaki/wiki">Contribuer</a></div>
             
            {% endif %}

            <div class="row" style="text-align: center">
                <div class="col-md-12 col-sm-12 margin"><img src="/static/img/help.jpg" style="max-width: 100%" /></div>
            </div>
        </div>
    </div>
</div>

<div class="partners row">
	{% for partner in partners %}
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="http://{{ partner.url }}" target="_blank" title="{{ partner.name }}"><img  src="/static/img/sponsors/small/{{ partner.image }}" /></a>
	</div>
	{% endfor %}
</div>

<br />
<br />
<br />
{% endblock %}
