<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Mangaki</title>
    <link rel="icon" href="/static/img/favicon.png">
    <script src="/static/js/jquery-latest.min.js"></script>
    <script src="/static/js/bootstrap-switch.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/handlebars.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/skin.js"></script>
    <script src="/static/js/vote.js"></script>
    <script src="/static/js/typeahead.bundle.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" href="/static/css/typeahead.css" />
    <link rel="stylesheet" href="/static/css/skin.css" />
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
                        <span class="sr-only">Ouvrir le menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/static/img/minilogo.png" style="margin-top: -10px; margin-left: 5px" /><!-- <sub style="color: red; font-size: 0.6em">BÊTA</sub> -->
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Désolé !</h1>
        <p>
            Mangaki est en maintenance ! En attendant, vous pouvez
            <a href="http://meta.mangaki.fr">consulter le forum</a>.
        </p>
    </div>
</body>    
</html>
