{% extends "base.html" %}

{% block anonymous_rating_banner %} {% endblock %}
{% block body %}

    <div class="row">
        {% if not meta.is_anonymous %}
            <div class="col-xs-2">
{# FIXME: Someday, we should uncomment this, but before, we have to data migrate avatars since death of meta.mangaki.fr#}
{#                {% if profile.avatar_url %}#}
{#                    <img src="{{ profile.avatar_url }}" alt="Avatar de {{ profile.username }}" id="avatar" />#}
{#                {% else %}#}
                    <img src="/static/img/chiro.png" alt="Avatar de {{ profile.username }}" id="avatar"/>
{#                {% endif %}#}
            </div>
        {% endif %}

        <div class="col-xs-4 col-lg-6">
            {% if not meta.is_anonymous %}
                <h1>{{ profile.username }}</h1>
            {% else %}
                <h1>Mes notes</h1>
                <h2>Inscrivez-vous pour pouvoir les sauvegarder!</h2>
            {% endif %}

            {% if profile.member_days %}
                <p>Inscrit depuis {{ profile.member_days }} jours</p>
            {% endif %}
            {% if events %}
                {% if meta.is_me %}
                    <h4>Mes événements</h4>
                {% else %}
                    <h4>Ses événements</h4>
                {% endif %}
                <p>
                <ul>
                    {% for event in events %}
                        <li>{{ event.type|capfirst }} <a
                                href="{% url 'work-detail' 'anime' event.work_id %}"><em>{{ event.title }}</em></a> le
                            <strong>{{ event.date }}</strong>{% if event.type == 'tv' %}
                                sur {{ event.channel }}{% elif event.location %},
                                {% if event.link %}
                                    <a href="{{ event.link }}" target="_blank">{{ event.location }}</a>
                                {% else %}
                                    {{ event.location }}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                </p>
            {% endif %}
        </div>
        <div class="col-xs-6 col-lg-4">
            {% if meta.is_me and not meta.is_anonymous %}
                <br/>
                Je participe au data challenge de Kyoto :
                <input type="checkbox" name="research_ok" {% if user.profile.research_ok %} checked{% endif %}/>
                <hr />
                Profil public :
                <input type="checkbox" name="is_shared" {% if user.profile.is_shared %} checked{% endif %}/>
                <hr />
                Afficher visuels pour public averti :
                <input type="checkbox" name="nsfw_ok" {% if user.profile.nsfw_ok %} checked{% endif %}/>
                <hr />
                Recevoir la newsletter :
                <input type="checkbox" name="newsletter_ok" {% if user.profile.newsletter_ok %} checked{% endif %}/>
                {% if meta.is_mal_import_available %}
                <hr />
                <p>Importer depuis myAnimeList :</p>
                <div class="input-group">
                    <input type="text" class="form-control" id="mal_username" placeholder="Ton login"
                           onkeydown="if(event.keyCode == 13) {$('#import_mal').click(); this.value = ''};"/>
                    <span class="input-group-btn">
                    <button id="import_mal" class="btn btn-default">OK</button>
                </span>
                </div>
                {% endif %}
            {% endif %}
            {% if meta.is_anonymous %}
                <br />
                <br />
                <form method="POST" action="{% url 'remove-all-anon-ratings' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Supprimer toutes mes notes</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% if not meta.is_anonymous and meta.can_see %}
        <ul class="nav nav-tabs">

            <li role="presentation"{% if meta.category == 'anime' and meta.seen %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'anime' 'seen' %}"><em>Anime</em> vus de {{ profile.username }} <span
                    class="badge alert-info">{{ profile.seen_anime_count }}</span></a></li>
            <li role="presentation"{% if meta.category == 'anime' and not meta.seen %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'anime' 'unseen' %}"><em>Anime</em> à voir de {{ profile.username }} <span
                    class="badge alert-info">{{ profile.unseen_anime_count }}</span></a></li>

            <li role="presentation"{% if meta.category == 'manga' and meta.seen %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'manga' 'seen' %}"><em>Mangas</em> lus de {{ profile.username }} <span
                    class="badge alert-info">{{ profile.seen_manga_count }}</span></a></li>
            <li role="presentation"{% if meta.category == 'manga' and not meta.seen %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'manga' 'unseen' %}"><em>Mangas</em> à lire de {{ profile.username }} <span
                    class="badge alert-info">{{ profile.unseen_manga_count }}</span></a></li>

            <li role="presentation"{% if meta.category == 'recommendation' %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'recommendation' %}?category=recommendation">Recommandations
                de {{ profile.username }} <span class="badge alert-info">{{ profile.reco_count }}</span></a></li>
        </ul>
    {% elif meta.is_anonymous %}
        <ul class="nav nav-tabs">

            <li role="presentation"{% if meta.category == 'anime' and meta.seen %} class="active"{% endif %}><a
                    href="{% url 'my-profile' 'anime' 'seen' %}"><em>Anime</em> que j'ai vu<span
                    class="badge alert-info">{{ profile.seen_anime_count }}</span></a></li>
            <li role="presentation"{% if meta.category == 'anime' and not meta.seen %} class="active"{% endif %}><a
                    href="{% url 'my-profile' 'anime' 'unseen' %}"><em>Anime</em> que je veux voir <span
                    class="badge alert-info">{{ profile.unseen_anime_count }}</span></a></li>

            <li role="presentation"{% if meta.category == 'manga' and meta.seen %} class="active"{% endif %}><a
                    href="{% url 'my-profile' 'manga' 'seen' %}"><em>Mangas</em> que j'ai lu <span
                    class="badge alert-info">{{ profile.seen_manga_count }}</span></a></li>
            <li role="presentation"{% if meta.category == 'manga' and not meta.seen %} class="active"{% endif %}><a
                    href="{% url 'my-profile' 'manga' 'unseen' %}"><em>Mangas</em> que je veux lire <span
                    class="badge alert-info">{{ profile.unseen_manga_count }}</span></a></li>
        </ul>
    {% endif %}
    {% if meta.can_see %}
        <div class="row mangas-list{% if not meta.is_me and not meta.is_anonymous %} another{% endif %}">
{#           FIXME: Neighboorhood has disappeared from Mangaki since a long time. #}
            {% if best_neighbors_list and meta.category == 'neighbor' and not meta.is_anonymous %}
                {% include "profile_neighbor.html" %}
            {% elif meta.category == 'recommendation' %}
                {% include "profile_reco.html" %}
            {% else %}
                {% include "profile_work.html" %}
            {% endif %}
        </div>
    {% else %}
        <p class="well">Le profil de {{ profile.username }} n'est pas public.</p>
    {% endif %}
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block extrajs %}
    <script>
        $("[name='research_ok']").bootstrapSwitch();
        $("[name='research_ok']").on('switchChange.bootstrapSwitch', function (event, state) {
            $.post(Urls['research'](), {research_ok: state});
        });
        $("[name='is_shared']").bootstrapSwitch();
        $("[name='is_shared']").on('switchChange.bootstrapSwitch', function (event, state) {
            $.post(Urls['shared'](), {is_shared: state});
        });
        $("[name='nsfw_ok']").bootstrapSwitch();
        $("[name='nsfw_ok']").on('switchChange.bootstrapSwitch', function (event, state) {
            $.post(Urls['nsfw'](), {nsfw_ok: state});
        });
        $("[name='newsletter_ok']").bootstrapSwitch();
        $("[name='newsletter_ok']").on('switchChange.bootstrapSwitch', function (event, state) {
            $.post(Urls['newsletter'](), {newsletter_ok: state});
        });
        $("#import_mal").on('click', function () {
            $.post(Urls['import-mal']($('#mal_username').val()), function (data) {
                console.log(data);
                location.reload();
            });
        });

        function removeReco(elt) {
            var $elt = $(elt);
            $.post(Urls['remove-reco']($elt.data('work'), $elt.data('user'), $elt.data('target')));
            setTimeout(function () {
                location.reload();
            }, 500);
        }

        function removeAllReco(elt) {
            $.post(Urls['remove-all-reco']($(elt).data('target')));
            setTimeout(function () {
                location.reload();
            }, 1000);
        }
    </script>
{% endblock %}
