{% load i18n %}

<div class="col-12 col-md-6">
    <h2>{% trans "Sent recommendations" %}</h2>
    {% for object in recommendations.sent %}
        <p class="flatlist"><a
                href="{% url 'work-detail' object.category object.id %}">{{ object.title }}</a> {% trans "was recommended to" %} <a href="{% url 'profile' object.username %}">{{ object.username }}</a>
            {% if meta.is_me %}
                <a class="btn btn-danger btn-xs" style="float: right" data-work="{{ object.id }}"
                   data-target="{{ object.username }}" data-user="{{ profile.username }}"
                   onclick="removeReco(this)" title="supprimer la recommandation"><span
                        class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </p>
    {% empty %}
        <p>(Cette liste est vide.)</p>
    {% endfor %}
</div>
<div class="col-12 col-md-6">
    <h2>{% trans "Received recommendations" %}</h2>
    {% for object in recommendations.received %}
        <p class="flatlist"><a
                href="{% url 'work-detail' object.category object.id %}">{{ object.title }}</a> {% trans "was recommended to you by" %} <a
                    href="{% url 'profile' object.username %}">{{ object.username }}</a>
            {% if request.user.username == username %}
                <a class="btn btn-danger btn-xs" style="float: right" data-work="{{ object.id }}"
                   data-target="{{ profile.username }}" data-user="{{ object.username }}"
                   onclick="removeReco(this)" title="supprimer la recommandation"><span
                        class="glyphicon glyphicon-remove"></span></a>{% endif %}</p>
    {% empty %}
        <p>{% trans "(This list is empty.)" %}</p>
    {% endfor %}
    {% if meta.is_me and recommendation.received %}
        <p class="flatlist"><a class="btn btn-danger" data-target="{{ username }}"
                                   onclick="removeAllReco(this)"
                                   title="supprimer toutes les recommandations reçues"><span
                class="label label-danger"><span class="glyphicon glyphicon-remove"></span> {% trans "Delete all received recommendations" %}</span></a>
        </p>
    {% endif %}
</div>
