{% if show_all_categories %}
    {% for category, seen_list, unseen_list in categories %}
        <div class="col-xs-6 col-xs-offset1">
            <h1>
                <a href="{% url 'work-list' category %}">{{ category | title }}</a>
                {% if category == 'manga' %} lus
                {% elif category == 'anime' %} vus
                {% elif category == 'album' %} écoutés
                {% else %} lus/vus/écoutés {% endif %}
            </h1>
            {% include "works_no_poster.html" with disabled=ratings_disabled works=seen_list class=category %}
        </div>
        <div class="col-xs-6 col-xs-offset1">
            <h1>
                <a href="{% url 'work-list' category %}">{{ category | title }}</a>
                {% if category == 'manga' %} à lire
                {% elif category == 'anime' %} à voir
                {% elif category == 'album' %} à écouter
                {% else %} à lire / à voir / à écouter
                {% endif %}
            </h1>
            {% include "works_no_poster.html" with disabled=ratings_disabled works=unseen_list class=category %}
        </div>
    {% endfor %}
{% else %}
    <div class="col-xs-10">
        <h1>
            {% if category == 'anime' %}
                <a href="{% url 'work-list' 'anime' %}">Anime</a>
                {% if seen %}vus {% else %} à voir (ou non) {% endif %}
            {% elif category == 'manga' %}
                <a href="{% url 'work-list' 'manga' %}">Mangas</a>
                {% if seen %}lus {% else %} à lire (ou non) {% endif %}
            {% elif category == 'album' %}
                <a href="{% url 'work-list' 'album' %}">Albums</a>
                {% if seen %}écoutés {% else %} à écouter (ou non) {% endif %}
            {% else %}
                <a href="{% url 'work-list' category %}">{{ category }}</a>
                {% if seen %}consommés {% else %} à consommer (ou non) {% endif %}
            {% endif %}
        </h1>
        <p class="well">✨🍰✨ Trier selon Mangaki !
            <a href="?algo=svd">mainstream</a> /
            <a href="?algo=als">perles</a>
        </p>
        {% include "works_no_poster.html" with disabled=ratings_disabled works=ratings class=category %}
        <nav aria-label="Navigation de la page" class="text-center">
            <ul class="pagination">
                <li {% if not ratings.has_previous %} class="disabled" {% endif %}>
                    <a {% if rating.has_previous %}href="?page={{ ratings.previous_page_number }}" {% endif %} aria-label="Précédent">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in ratings.paginator.page_range %}
                    {% if page <= ratings.number|add:3 and page >= ratings.number|add:-3 %}
                        <li
                                {% if page == ratings.number %}class="active" {% endif %}>
                            <a
                                    {% if page == ratings.number %}
                                        href="#"
                                    {% else %}
                                        href="?page={{ page }}"
                                    {% endif %}>
                                {{ page }} <span class="sr-only">(courante)</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li {% if not ratings.has_next %} class="disabled" {% endif %}>
                    <a {% if ratings.has_next %}href="?page={{ ratings.next_page_number }}" {% endif %} aria-label="Suivant">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endif %}
