{% extends "base.html" %}
{% load i18n %}

{% block anonymous_rating_banner %} {% endblock %}
{% block body %}

    <div class="row">
        {% if not meta.is_anonymous %}
            <div class="col-xs-2">
{# FIXME: Someday, we should uncomment this, but before, we have to data migrate avatars since death of meta.mangaki.fr#}
{#                {% if profile.avatar_url %}#}
{#                    <img src="{{ profile.avatar_url }}" alt="Avatar de {{ profile.username }}" id="avatar" />#}
{#                {% else %}#}
                    <img src="/static/img/chiro.png" alt="Avatar de {{ profile.username }}" id="avatar"/>
{#                {% endif %}#}
            </div>
        {% endif %}

        <div class="col-xs-6 col-lg-6">
            {% if not meta.is_anonymous %}
                <h1>{{ profile.username }}</h1>
            {% else %}
                <h1>{% trans "Your ratings" %}</h1>
                {% url 'account_signup' as signup_url %}
                <h2>
                    {% blocktrans trimmed %}
                    <a href="{{ signup_url }}">Signup</a> to save them
                    {% endblocktrans %}
                </h2>
            {% endif %}

            {% if profile.member_days %}
                <p>
                    {% blocktrans with member_days=profile.member_days trimmed %}
                    Subscribed since {{ member_days }} days
                    {% endblocktrans %}
                </p>
            {% endif %}
        </div>
        <div class="col-xs-4 col-lg-4">
            {% if meta.is_anonymous %}
                <br />
                <br />
                <form method="POST" action="{% url 'remove-all-anon-ratings' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">{% trans "Delete all my ratings" %}</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% block profile_section %}
    {% endblock %}
{% endblock %}

{% block extrajs %}
        <script>
        function removeReco(elt) {
            var $elt = $(elt);
            $.post(Urls['remove-reco']($elt.data('work'), $elt.data('user'), $elt.data('target')));
            setTimeout(function () {
                location.reload();
            }, 500);
        }

        function removeAllReco(elt) {
            $.post(Urls['remove-all-reco']($(elt).data('target')));
            setTimeout(function () {
                location.reload();
            }, 1000);
        }
    </script>
{% endblock %}
