{% extends "base.html" %}

{% block anonymous_rating_banner %} {% endblock %}
{% block body %}

    <div class="row">
        {% if not meta.is_anonymous %}
            <div class="col-xs-2">
{# FIXME: Someday, we should uncomment this, but before, we have to data migrate avatars since death of meta.mangaki.fr#}
{#                {% if profile.avatar_url %}#}
{#                    <img src="{{ profile.avatar_url }}" alt="Avatar de {{ profile.username }}" id="avatar" />#}
{#                {% else %}#}
                    <img src="/static/img/chiro.png" alt="Avatar de {{ profile.username }}" id="avatar"/>
{#                {% endif %}#}
            </div>
        {% endif %}

        <div class="col-xs-4 col-lg-6">
            {% if not meta.is_anonymous %}
                <h1>{{ profile.username }}</h1>
            {% else %}
                <h1>Mes notes</h1>
                <h2>Inscrivez-vous pour pouvoir les sauvegarder!</h2>
            {% endif %}

            {% if profile.member_days %}
                <p>Inscrit depuis {{ profile.member_days }} jours</p>
            {% endif %}
            {% if events %}
                {% if meta.is_me %}
                    <h4>Mes événements</h4>
                {% else %}
                    <h4>Ses événements</h4>
                {% endif %}
                <p>
                <ul>
                    {% for event in events %}
                        <li>{{ event.type|capfirst }} <a
                                href="{% url 'work-detail' 'anime' event.work_id %}"><em>{{ event.title }}</em></a> le
                            <strong>{{ event.date }}</strong>{% if event.type == 'tv' %}
                                sur {{ event.channel }}{% elif event.location %},
                                {% if event.link %}
                                    <a href="{{ event.link }}" target="_blank">{{ event.location }}</a>
                                {% else %}
                                    {{ event.location }}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                </p>
            {% endif %}
        </div>
        <div class="col-xs-6 col-lg-4">
            {% if meta.is_me and not meta.is_anonymous %}
                {% verbatim %}
                <div id="profile_settings_container">
                    <bs-light-switch v-model="isShared">
                        Profil public&nbsp;:
                    </bs-light-switch>
                    <hr />
                    <bs-light-switch v-model="acceptsNSFW">
                        Afficher visuels pour public averti&nbsp;:
                    </bs-light-switch>
                    <hr />
                    <bs-light-switch v-model="acceptsResearchUsage">
                        Participer à l'amélioration des algorithmes de Mangaki&nbsp;:
                    </bs-light-switch>
                    <hr />
                    <bs-light-switch v-model="receivesNewsletter">
                        Recevoir la newsletter&nbsp;:
                    </bs-light-switch>
                    <bs-light-switch v-model="enableKbShortcuts">
                        Activer les raccourcis clavier sur la mosaique&nbsp;:
                    </bs-light-switch>
                </div>
                {% endverbatim %}
                {% if meta.mal.is_available %}
                    <hr />
                    <div id="mal_container">
                        {% verbatim %}
                        <transition-group appear name="fade">
                            <template v-if="showForm">
                                <p key="form_title">Importer depuis myAnimeList&nbsp;:</p>
                                <div key="form_input" class="input-group">
                                    <input v-model.lazy="mal_username" @keyup.enter="importMAL" type="text" class="form-control" placeholder="Ton login"/>
                                    <span class="input-group-btn">
                                        <button v-on:click="importMAL" class="btn btn-default">C'est parti!</button>
                                    </span>
                                </div>
                            </template>
                            <template v-if="followProgress">
                                <p key="progress_title">Votre myAnimeList est en cours d'importation. Veuillez patienter.</p>
                                <loading-spinner key="spinner"></loading-spinner>
                                <p key="work_title" v-if="currentWorkTitle != null">✓✓ {{ currentWorkTitle }} importé.
                                    <span v-if="workCount && currentWorkIndex">({{ currentWorkIndex }} / {{ workCount }})</span>
                                </p>
                            </template>
                            <template v-if="errorMessage">
                                <p key="message">Une erreur est survenue, rechargez la page.</p>
                                <p key="details">Détails : {{ errorMessage }}</p>
                            </template>
                            <template v-if="importFinished">
                                <p key="finished-title">Votre import myAnimeList est désormais terminé.</p>
                                <button class="btn btn-primary" key="reload-page" v-on:click="reloadPage">Cliquez ici pour recharger la page</button>
                            </template>
                        </transition-group>
                        {% endverbatim %}
                    </div>
                {% endif %}
            {% endif %}
            {% if meta.is_anonymous %}
                <br />
                <br />
                <form method="POST" action="{% url 'remove-all-anon-ratings' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Supprimer toutes mes notes</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% if not meta.is_anonymous and meta.can_see and not meta.is_me %}
        <ul class="nav nav-tabs">

            <li role="presentation"{% if meta.category == 'anime' and meta.seen %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'anime' 'seen' %}"><em>Anime</em> vus de {{ profile.username }} <span
                    class="badge alert-info">{{ profile.seen_anime_count }}</span></a></li>
            <li role="presentation"{% if meta.category == 'anime' and not meta.seen %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'anime' 'unseen' %}"><em>Anime</em> watchlist de {{ profile.username }} <span
                    class="badge alert-info">{{ profile.unseen_anime_count }}</span></a></li>

            <li role="presentation"{% if meta.category == 'manga' and meta.seen %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'manga' 'seen' %}"><em>Mangas</em> lus de {{ profile.username }} <span
                    class="badge alert-info">{{ profile.seen_manga_count }}</span></a></li>
            <li role="presentation"{% if meta.category == 'manga' and not meta.seen %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'manga' 'unseen' %}"><em>Mangas</em> wishlist de {{ profile.username }} <span
                    class="badge alert-info">{{ profile.unseen_manga_count }}</span></a></li>

            <li role="presentation"{% if meta.category == 'recommendation' %} class="active"{% endif %}><a
                    href="{% url 'profile' profile.username 'recommendation' %}?category=recommendation">Recommandations
                de {{ profile.username }} <span class="badge alert-info">{{ profile.reco_count }}</span></a></li>
        </ul>
    {% elif meta.is_anonymous or meta.is_me %}
        <ul class="nav nav-tabs">

            <li role="presentation"{% if meta.category == 'anime' and meta.seen %} class="active"{% endif %}><a
                    href="{% url 'my-profile' 'anime' 'seen' %}"><em>Anime</em> vus <span
                    class="badge alert-info">{{ profile.seen_anime_count }}</span></a></li>
            <li role="presentation"{% if meta.category == 'anime' and not meta.seen %} class="active"{% endif %}><a
                    href="{% url 'my-profile' 'anime' 'unseen' %}"><em>Anime</em> watchlist <span
                    class="badge alert-info">{{ profile.unseen_anime_count }}</span></a></li>

            <li role="presentation"{% if meta.category == 'manga' and meta.seen %} class="active"{% endif %}><a
                    href="{% url 'my-profile' 'manga' 'seen' %}"><em>Mangas</em> lus <span
                    class="badge alert-info">{{ profile.seen_manga_count }}</span></a></li>
            <li role="presentation"{% if meta.category == 'manga' and not meta.seen %} class="active"{% endif %}><a
                    href="{% url 'my-profile' 'manga' 'unseen' %}"><em>Mangas</em> wishlist <span
                    class="badge alert-info">{{ profile.unseen_manga_count }}</span></a></li>

            {% if not meta.is_anonymous %}
                <li role="presentation"{% if meta.category == 'recommendation' %} class="active"{% endif %}><a
                        href="{% url 'profile' profile.username 'recommendation' %}?category=recommendation">Mes recommandations
                    <span class="badge alert-info">{{ profile.reco_count }}</span></a></li>
            {% endif %}
        </ul>
    {% endif %}
    {% if meta.can_see %}
        <div class="row mangas-list{% if not meta.is_me and not meta.is_anonymous %} another{% endif %}">
{#           FIXME: Neighboorhood has disappeared from Mangaki since a long time. #}
            {% if best_neighbors_list and meta.category == 'neighbor' and not meta.is_anonymous %}
                {% include "profile_neighbor.html" %}
            {% elif meta.category == 'recommendation' %}
                {% include "profile_reco.html" %}
            {% else %}
                {% include "profile_work.html" %}
            {% endif %}
        </div>
    {% else %}
        <p class="well">Le profil de {{ profile.username }} n'est pas public.</p>
    {% endif %}
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block extrajs %}
    {% if meta.debug_vue %}
        <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
    {% else %}
        <script src="https://unpkg.com/vue@2.5.2/dist/vue.min.js"></script>
    {% endif %}
    {% if meta.mal.is_available %}
        <script src="/static/js/mal_import.js"></script>
    {% endif %}
    <script src="/static/js/profile_settings.js"></script>
    <script>
        window.INITIAL_DATA = {
            isShared: {{ user.profile.is_shared|yesno:"true,false" }},
            acceptsNSFW: {{ user.profile.nsfw_ok|yesno:"true,false" }},
            acceptsResearchUsage: {{ user.profile.research_ok|yesno:"true,false" }},
            receivesNewsletter: {{ user.profile.newsletter_ok|yesno:"true,false" }},
            enableKbShortcuts: {{ user.profile.keyboard_shortcuts_enabled|yesno:"true,false" }},
            hasPendingMALImport: {{ meta.mal.pending_import|yesno:"true,false" }}
        };

        {% if meta.mal.is_available %}
            $(document).ready(function () {
                if (INITIAL_DATA.hasPendingMALImport) {
                    MALImporterApp.fetchServerSideTaskId()
                        .then(() => {
                            MALImporterApp.showForm = false;
                        })
                }
            });
        {% endif %}

        function removeReco(elt) {
            var $elt = $(elt);
            $.post(Urls['remove-reco']($elt.data('work'), $elt.data('user'), $elt.data('target')));
            setTimeout(function () {
                location.reload();
            }, 500);
        }

        function removeAllReco(elt) {
            $.post(Urls['remove-all-reco']($(elt).data('target')));
            setTimeout(function () {
                location.reload();
            }, 1000);
        }
    </script>
{% endblock %}
