<div class="col-xs-4 col-xs-offset-1">
    <h1>Recommandations envoyées</h1>
    {% for object in recommendations.sent %}
        <p class="row flatlist"><a
                href="{% url 'work-detail' object.category object.id %}">{{ object.title }}</a> a
            été conseillé à <a href="{% url 'profile' object.username %}">{{ object.username }}</a>
            {% if meta.is_me %}
                <a class="btn btn-danger btn-xs" style="float: right" data-work="{{ object.id }}"
                   data-target="{{ object.username }}" data-user="{{ profile.username }}"
                   onclick="removeReco(this)" title="supprimer la recommandation"><span
                        class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </p>
    {% empty %}
        <p>(Cette liste est vide.)</p>
    {% endfor %}
</div>
<div class="col-xs-4 col-xs-offset-1">
    <h1>Recommandations reçues</h1>
    {% for object in recommendations.received %}
        <p class="row flatlist"><a
                href="{% url 'work-detail' object.category object.id %}">{{ object.title }}</a> vous
            a été conseillé par <a
                    href="{% url 'profile' object.username %}">{{ object.username }}</a>
            {% if request.user.username == username %}
                <a class="btn btn-danger btn-xs" style="float: right" data-work="{{ object.id }}"
                   data-target="{{ profile.username }}" data-user="{{ object.username }}"
                   onclick="removeReco(this)" title="supprimer la recommandation"><span
                        class="glyphicon glyphicon-remove"></span></a>{% endif %}</p>
    {% empty %}
        <p>(Cette liste est vide.)</p>
    {% endfor %}
    {% if meta.is_me and recommendation.received %}
        <p class="row flatlist"><a class="btn btn-danger" data-target="{{ username }}"
                                   onclick="removeAllReco(this)"
                                   title="supprimer toutes les recommandations reçues"><span
                class="label label-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer toutes les recommandations reçues</span></a>
        </p>
    {% endif %}
</div>
