{% extends "base.html" %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}info{% endif %}">
                {{ message }}
            </p>
        {% endfor %}
        <a href="{% url 'home' %}" class="btn btn-default">Retourner à la page d'accueil</a>
    {% endif %}
    {% if token %} 
        <form method="post">
            {% csrf_token %}
            <p>Souhaitez-vous que vos données de votes (sans votre pseudo, ni votre mail, ni le titre des œuvres) apparaissent dans un fichier public anonymisé destiné au jeu-concours organisé avec l'université de Kyoto ?</p>
            <p>Pour en savoir plus, voir <a href="http://research.mangaki.fr/2017/05/27/data-challenge-kyoto-university/">le post à ce sujet sur notre blog</a>.</p>
            <input type="hidden" name="username" value="{{ username }}" />
            <input type="hidden" name="token" value="{{ token }}" />
            <input type="submit" class="btn btn-danger" name="no" value="Ne jamais utiliser mes données pour la recherche même anonymisées" />
            <input type="submit" class="btn btn-success" name="yes" value="Oui, avec plaisir !" />
        </form>
    {% endif %}
{% endblock %}
