{% extends "base.html" %}
{% load i18n %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}info{% endif %}">
                {{ message }}
            </p>
        {% endfor %}
        <a href="{% url 'home' %}" class="btn btn-default">{% trans "Return to the home page" %}</a>
    {% endif %}
    {% if token %}
        <form method="post">
            {% csrf_token %}
            <h1>{% trans "Preferences" %}</h1>
            <p>{% trans "Would you like to stop receiving emails?" %}</p>
            <input type="hidden" name="username" value="{{ username }}" />
            <input type="hidden" name="token" value="{{ token }}" />
            <input type="submit" class="btn btn-danger mt-1" name="no" value="{% trans "Stop receiving emails" %}" />
            <input type="submit" class="btn btn-primary mt-1" name="yes" value="{% trans "Continue receiving emails" %}" />
        </form>
    {% endif %}
{% endblock %}
