{% load static %}
{% static 'img/ratings.svg' as rating_svg_link %}
{% for work_meta in works %}
  {% with work=work_meta.work rating=work_meta.work.rating %}
    <div class="flatlist">
        <a href="{% url 'work-detail' category work.id %}">{{ work.title }}</a>
        <div class="ratings ratings_small {% if disabled %} ratings_disabled{% endif %}" style="float: right">
            {% include "mangaki/ratings.html" with config=config.ui rating_svg_link=rating_svg_link rating=rating %}
        </div>
    </div>
  {% endwith %}
{% empty %}
  <p>(Cette liste est vide.)</p>
{% endfor %}
