<div class="row flatlist">
    <a href="/anime/{{ work.id }}">{{ work.title }}</a>
    <div style="float: right">
        <span class="btn btn-success btn-xs"><span class="glyphicon glyphicon-thumbs-up"></span></span>
        <span class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-adjust"></span></span>
        <span class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-thumbs-down"></span></span>
        <span class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span></span>
        <span class="btn btn-info btn-xs"><span class="glyphicon glyphicon-eye-close"></span></span>
    </div>
</div>
