<div align="center" class="manga-sheet">
<!-- manga-sheet doit être sur le premier div -->
    <div class="col-md-3 col-sm-5 col-xs-5 text-center">
        <div class="row thumbnail data" data-category="{{ category }}" data-id="{{ work.id }}" data-pos="{{ forloop.counter }}">
        <!-- Ne pas modifier la class row sinon ça casse loadCard de vote.js -->
            <div class="col-md-12 col-sm-8 col-xs-8">
                <h4><a href="/{{ category }}/{{ work.id }}" data-toggle="tooltip" data-placement="right" data-container="body" title="{{ work.synopsis }}">{{ work.title }}</a></h4>
            </div>
            {% include "work_rating.html" %}
        </div>
    </div>
</div>
