[Unit]
Description=Re-generate certificates biweekly
After=nginx
Type=oneshot
ExecStart=/opt/letsencrypt-sh/letsencrypt.sh -c

[Timer]
OnBootSec=30min
OnUnitActiveSec=14d

[Install]
WantedBy=timers.target
