{% extends "base.html" %}
{% load staticfiles %}
{% load posters %}

{% block title %}Suggestion #{{ suggestion.pk }} - Mangaki{% endblock %}

{% block body %}

<h1>Suggestion #{{ suggestion.pk }}</h1><br/>

{% if suggestion.is_checked %}
<div class="alert alert-info">
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Ce problème a été marqué comme résolu !
</div>
{% endif %}

<div class="row">

<div class="col-md-3" align="center">
    {% include "mangaki/work_rating.html" with category=suggestion.work.category.slug work=suggestion.work simple=True %}
</div>

<div class="col-md-9">
    <br/>
    <div class="row">
    <div class="col-md-push-1 col-sm-push-1 col-lg-10 col-sm-10">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">
                <span class="glyphicon glyphicon-link"></span> Lien de partage
            </span>
            <input type="text" class="form-control" value="{{ request.build_absolute_uri }}">
        </div>
        <form>
    </div>
    </div>
    <br/>

    <div class="well">
        <p>
            <h4><strong>Problème&nbsp;:</strong>
                {{ suggestion.get_problem_display }}
            </h4>
        </p>

        <p>
            <h5><strong>Envoyé par&nbsp;:</strong>
                <a href="{% url "profile" suggestion.user %}">{{ suggestion.user }}</a>
                <small>({{ suggestion.date }})</small>
            </h5>
        </p>

        {% if suggestion.message %}
        <hr/>
        <p class="text-muted">{{ suggestion.message }}</p>
        {% endif %}

        {% for cluster, color in clusters %}
            <hr/>
            <p><strong>Cette œuvre est présente dans ce cluster&nbsp;:</strong></p>
            <div class="cards-grid no-rating">
                {% for work in cluster.works.all %}
                    {% if work != suggestion.work %}
                    {% include "mangaki/work_rating.html" with category=work.category.slug work=work %}
                    {% endif %}
                {% endfor %}
            </div>
            <hr/>
            <p>
                Ce cluster est <strong><span class="{{ color }}">{{ cluster.get_status_display.lower }}</span></strong>
                {% if cluster.checker %} par <a href="{% url "profile" cluster.checker %}">{{ cluster.checker }}</a>{% endif %}.
            </p>
            {% if cluster.resulting_work %}
            <p>
                Ce cluster a résulté en l'œuvre
                <a href="{% url "work-detail" cluster.resulting_work.category.slug cluster.resulting_work.pk %}">{{ cluster.resulting_work }}</a>.
                <small>({{ cluster.merged_on }})</small>
            </p>
            {% endif %}
        {% endfor %}

        {% if request.user.is_authenticated and not suggestion.is_checked %}
            <hr/>
            <p align="right">
                Approuvez-vous cette suggestion&nbsp;?&nbsp;
                <input type="checkbox" name="agrees" data-suggestion="{{ suggestion.pk }}" {% if evidence.agrees %}checked{% endif %} />
            </p>
            <p align="right">
                Demander de l'aide à un administrateur&nbsp;?&nbsp;
                <input type="checkbox" name="needs_help" data-suggestion="{{ suggestion.pk }}" {% if evidence.needs_help %}checked{% endif %} />
            </p>
        {% elif suggestion.is_checked and evidence %}
            <hr/>
            <p align="right">
                Vous avez <strong><span class="{% if evidence.agrees %}text-success">approuvé{% else %}text-danger">rejeté{% endif %}</span></strong> cette suggestion.
            </p>
            {% if evidence.needs_help %}
            <p align="right">
                Vous avez indiqué qu'il y a <strong>besoin d'un administrateur</strong>.
            </p>
            {% endif %}
        {% endif %}
    </div>
</div>

</div>

<hr/>

<div class="row">
<nav aria-label="Navigation dans les suggestions de fix">
    <ul class="pager">
        <li class="previous {% if not previous_id %} disabled {% endif %}">
            <a {% if previous_id %}href="{% url "fix-suggestion" previous_id %}"{% endif %}>
                <span aria-hidden="true">&larr;</span> Précédent
            </a>
        </li>
        <li>
            <a href="/fix/">Retour</a>
        </li>
        <li class="next {% if not next_id %} disabled {% endif %}">
            <a {% if next_id %}href="{% url "fix-suggestion" next_id %}"{% endif %}>
                Suivant <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
</div>

{% endblock %}

{% block extrajs %}
<script>
    $.fn.bootstrapSwitch.defaults.size = 'mini';
    $.fn.bootstrapSwitch.defaults.onText = 'OUI';
    $.fn.bootstrapSwitch.defaults.offText = 'NON';
    $.fn.bootstrapSwitch.defaults.onColor = 'success';
    $.fn.bootstrapSwitch.defaults.offColor = 'danger';

    $("[name='agrees']").bootstrapSwitch();
    $("[name='agrees']").on('switchChange.bootstrapSwitch', function (event, state) {
        $.post(Urls['update-evidence'](), {agrees: state, suggestion: $(this).data("suggestion")});
    });

    $("[name='needs_help']").bootstrapSwitch();
    $("[name='needs_help']").on('switchChange.bootstrapSwitch', function (event, state) {
        $.post(Urls['update-evidence'](), {needs_help: state, suggestion: $(this).data("suggestion")});
    });
</script>
{% endblock %}
