{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Liste des suggestions {% if suggestions.paginator.page_range|length > 1 %}- Page {{ suggestions.number }} {% endif %}- Mangaki{% endblock %}

{% block body %}

<h1>Liste des suggestions</h1><br/>

{% for suggestion in suggestions %}
<div class="row">
<div class="panel panel-default">
    <h3 class="panel-heading panel-title">
        <a href="{% url "fix-suggestion" suggestion.id %}" class="text-primary">Suggestion #{{ suggestion.id }}</a>
        <span class="small font-weight-bold">
            &nbsp;&nbsp;<span class="glyphicon glyphicon-{% if suggestion.is_checked %}lock{% else %}flag{% endif %}" aria-hidden="true"></span>
            Ce problème est {% if suggestion.is_checked %}résolu{% else %}en cours{% endif %}
        </span>
        &nbsp;
        &nbsp;
        <span class="text-success" title="Nombre de personnes approuvant">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{suggestion.count_agrees}}
        </span>
        &nbsp;
        <span class="text-danger" title="Nombre de personnes n'approuvant pas">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{ suggestion.count_disagrees }}
        </span>
    </h3>
    <ul class="list-group">
        <li class="list-group-item"><strong>Problème :</strong> {{ suggestion.get_problem_display }}

        <li class="list-group-item"><strong>Envoyé par :</strong>
            <a href="{% url "profile" suggestion.user %}">
                {{ suggestion.user.username }}</a> <small>({{ suggestion.date }})</small>
        </li>

        <li class="list-group-item"><strong>Œuvre :</strong>
            <a href="{% url "work-detail" suggestion.work.category.slug suggestion.work.pk %}">
                {{ suggestion.work.title }}</a> <small>({{ suggestion.work.category }})</small>
        </li>

        {% if request.user.is_authenticated %}
        {% for evidence in suggestion.evidence_set.all %}
            {% if request.user == evidence.user %}
            <li class="list-group-item small">
            Vous avez <strong><span class="{% if evidence.agrees %}text-success">approuvé{% else %}text-danger">rejeté{% endif %}</span></strong> cette suggestion.<br/>
            {% if evidence.needs_help %}Vous avez indiqué qu'il y a <strong>besoin d'un administrateur</strong>.{% endif %}
            </li>
            {% endif %}
        {% endfor %}
        {% endif %}
    </ul>
</div>
</div>
{% endfor %}

<div class="row">
    {% include "pagination.html" with page_obj=suggestions paginator=suggestions.paginator %}
</div>

{% endblock %}
