{% extends "base.html" %}
{% load staticfiles %}
{% load posters %}

{% block title %}Suggestion #{{ suggestion.pk }} - Mangaki{% endblock %}

{% block body %}

<h1>Suggestion #{{ suggestion.pk }}</h1><br/>

{% if suggestion.is_checked %}
<div class="alert alert-info">
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Ce problème a été marqué comme résolu !
</div>
{% endif %}

<div class="row">

<div class="col-md-3" align="center">
    {% include "mangaki/work_rating.html" with category=suggestion.work.category.slug work=suggestion.work simple=True %}
</div>

<div class="col-md-9">
    <br/>
    <div class="row">
    <div class="col-md-push-1 col-sm-push-1 col-lg-10 col-sm-10">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="copy-share-link" data-toggle="tooltip"
                        data-placement="top" data-copy="{{ request.build_absolute_uri }}" title="Copier">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Lien de partage
                </button>
            </span>
            <input type="text" class="form-control" id="input-share-link" value="{{ request.build_absolute_uri }}">
        </div>
    </div>
    </div>
    <br/>

    <div class="well">
        <p>
            <h4><strong>Problème&nbsp;:</strong>
                {{ suggestion.get_problem_display }}
            </h4>
        </p>

        <p>
            <h5><strong>Envoyé par&nbsp;:</strong>
                <a href="{% url "profile" suggestion.user %}">{{ suggestion.user }}</a>
                <small>({{ suggestion.date }})</small>
            </h5>
        </p>

        {% if suggestion.message %}
        <hr/>
        <p class="text-muted">{{ suggestion.message }}</p>
        {% endif %}

        {% for cluster, color in clusters %}
            <hr/>
            <p><strong>Cette œuvre est présente dans ce cluster&nbsp;:</strong></p>
            <div class="cards-grid no-rating">
                {% for work in cluster.works.all %}
                    {% if work != suggestion.work %}
                    {% include "mangaki/work_rating.html" with category=work.category.slug work=work %}
                    {% endif %}
                {% endfor %}
            </div>
            <hr/>
            <p>
                Ce cluster est <strong><span class="{{ color }}">{{ cluster.get_status_display.lower }}</span></strong>
                {% if cluster.checker %} par <a href="{% url "profile" cluster.checker %}">{{ cluster.checker }}</a>{% endif %}.
            </p>
            {% if cluster.resulting_work %}
            <p>
                Ce cluster a été fusionné :
                <a href="{% url "work-detail" cluster.resulting_work.category.slug cluster.resulting_work.pk %}">{{ cluster.resulting_work }}</a>.
                <small>({{ cluster.merged_on }})</small>
            </p>
            {% endif %}
        {% endfor %}

        {% if request.user.is_authenticated and not suggestion.is_checked %}
            <hr/>
            <form id="evidence_form" action="{% url "update-evidence" %}" method="POST" align="right">
                {% csrf_token %}
                {{ evidence_form.as_p }}
                <input type="submit" class="btn btn-primary" value="Envoyer" name="submit_evidence_form">
            </form>
        {% elif suggestion.is_checked and evidence %}
            <hr/>
            <p align="right">
                Vous avez <strong><span class="{% if evidence.agrees %}text-success">approuvé{% else %}text-danger">rejeté{% endif %}</span></strong> cette suggestion.
            </p>
            {% if evidence.needs_help %}
            <p align="right">
                Vous avez indiqué qu'il y a <strong>besoin d'un administrateur</strong>.
            </p>
            {% endif %}
        {% endif %}
    </div>
</div>

</div>

<hr/>

<div class="row">
<nav aria-label="Navigation dans les suggestions de fix">
    <ul class="pager">
        <li class="previous {% if not previous_id %} disabled {% endif %}">
            <a {% if previous_id %}href="{% url "fix-suggestion" previous_id %}"{% endif %}>
                <span aria-hidden="true">&larr;</span> Précédent
            </a>
        </li>
        <li>
            <a href="/fix/">Retour</a>
        </li>
        <li class="next {% if not next_id %} disabled {% endif %}">
            <a {% if next_id %}href="{% url "fix-suggestion" next_id %}"{% endif %}>
                Suivant <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
</div>

{% endblock %}

{% block extrajs %}
<script>
    // https://codepen.io/nathanlong/pen/ZpAmjv
    function copyToClipboard(text, el) {
        var elOriginalText = el.attr('data-original-title');

        if (document.queryCommandSupported('copy')) {
            var copyTextArea = document.createElement("textarea");
            copyTextArea.value = text;
            document.body.appendChild(copyTextArea);
            copyTextArea.select();
            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'Lien copié !' : 'Lien non copié …';
                el.attr('data-original-title', msg).tooltip('show');
            } catch (err) {
                console.log('Le lien n\'a pas pu être copié …');
            }
            document.body.removeChild(copyTextArea);
            el.attr('data-original-title', elOriginalText);
        }
        else {
            window.prompt("Pour copier, Ctrl+C ou Command+C, Entrée", text);
        }
    }

    $('button#copy-share-link').tooltip({trigger : 'hover'});
    $('button#copy-share-link').click(function() {
        copyToClipboard($(this).attr('data-copy'), $(this));
    });

    $.fn.bootstrapSwitch.defaults.size = 'mini';
    $.fn.bootstrapSwitch.defaults.onText = 'OUI';
    $.fn.bootstrapSwitch.defaults.offText = 'NON';
    $.fn.bootstrapSwitch.defaults.onColor = 'success';
    $.fn.bootstrapSwitch.defaults.offColor = 'danger';

    $("[name='submit_evidence_form']").remove();

    $("[name='agrees'], [name='needs_help']").bootstrapSwitch();
    $("[name='agrees'], [name='needs_help']").on('switchChange.bootstrapSwitch', function(event, state) {
        var form = $(this).closest("form");
        $.ajax({type: "POST", url: form.attr('action'), data: form.serialize()});
    });
</script>
{% endblock %}
