{% extends "base.html" %}
{% load staticfiles %}
{% load posters %}

{% block title %}Grille NSFW {% if suggestions.paginator.page_range|length > 1 %}- Page {{ suggestions.number }} {% endif %}- Mangaki{% endblock %}

{% block body %}

<h1>Grille NSFW</h1>

<div class="row">
<div class="cards-grid no-rating">
{% for suggestion, says_is_nsfw, supposed_nsfw in suggestions_with_states %}
<div style="margin: 10px 0;">
    {% include "mangaki/work_rating.html" with category=suggestion.work.category.slug work=suggestion.work %}

    <div class="panel panel-default panel-body" style="margin: 10px 0;">
        <strong>Cette oeuvre est-elle NSFW ?</strong>
        <small>Supposée {{ supposed_nsfw|yesno:'NSFW,non NSFW' }} par
        <a href="{% url "profile" suggestion.user %}">{{ suggestion.user.username }}</a>.</small>
    </div>

    <!--<button type="button" name="nsfw-button" data-suggestion="{{ suggestion.id }}"
            data-problem="{{ suggestion.problem }}"
            data-nsfw="{{ says_is_nsfw|yesno:'yes,no' }}"
            class="btn {{ says_is_nsfw|yesno:'btn-success,btn-danger' }}">
            {% if says_is_nsfw %}Oui{% else %}Non{% endif %}
    </button>

    <button type="button" data-suggestion="{{ suggestion.id }}" data-state="not-toggled"
            data-problem="{{ suggestion.problem }}" data-nsfw="yes"
            name="nsfw-button" class="btn btn-success">Oui</button>
    <button type="button" data-suggestion="{{ suggestion.id }}" data-state="not-toggled"
            data-problem="{{ suggestion.problem }}" data-nsfw="no"
            name="nsfw-button" class="btn btn-danger">Non</button> -->

    <form id="evidence_form" action="{% url "update-evidence" %}" method="POST" align="center">
        {% csrf_token %}
        <input type="hidden" name="redirect" value="{{ request.get_full_path }}">
        <input type="hidden" name="suggestion" id="id_suggestion" value="{{ suggestion.pk }}">
        <div class="btn-group btn-group-sm">
            <button class="btn {{ says_is_nsfw|yesno:'btn-success,btn-default,btn-default' }}"
                    type="submit" name="agrees" value="{{ supposed_nsfw|yesno:'True,False,True' }}"
                    {{ says_is_nsfw|yesno:'disabled,,' }}>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Oui
            </button>
            {% if says_is_nsfw is not None %}
            <button type="submit" class="btn btn-warning" name="delete" value="True">Annuler</button>
            {% endif %}
            <button class="btn {{ says_is_nsfw|yesno:'btn-default,btn-danger,btn-default' }}"
                    type="submit" name="agrees" value="{{ supposed_nsfw|yesno:'False,True,False' }}"
                    {{ says_is_nsfw|yesno:',disabled,' }}>
                Non <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    </form>
</div>
{% endfor %}
</div>
</div>

<div class="row">
    {% include "pagination.html" with page_obj=suggestions paginator=suggestions.paginator %}
</div>

{% endblock %}

{% block extrajs %}
<script>
    // $.fn.extend({
    //     toggleText: function(a, b) {
    //         return this.text(this.text().trim() == b ? a : b);
    //     }
    // });
    //
    // $("[name='nsfw-button']").on("click", function() {
    //     if($(this).attr('data-state')) {
    //         $(this).parent().siblings('div').remove();
    //         $(this).removeAttr('data-state');
    //     }
    //     else {
    //         $(this).toggleClass('btn-danger btn-success');
    //         $(this).toggleText('Oui', 'Non');
    //         $(this).data('nsfw', $(this).data('nsfw') == 'yes' ? 'no' : 'yes');
    //     }
    //
    //     var says_is_nsfw = $(this).data('nsfw') == 'yes';
    //     var supposed_nsfw = $(this).data('problem') == 'nsfw';
    //     var agrees = (says_is_nsfw && supposed_nsfw) || (!says_is_nsfw && !supposed_nsfw);
    //
    //     $.post(Urls['update-evidence'](), {agrees: agrees, suggestion: $(this).data("suggestion")});
    // });
</script>
{% endblock %}
