{% extends "base.html" %}
{% load bootstrap %}

{% block body %}
<div class="alert alert-warning" role="alert" id="sorry" style="display: none"></div>
<div class="row">
    <div class="col-md-12"> <!-- col-md-push-3 -->
        <h1>{{ object.title }}</h1>
    </div>
    <div class="col-sm-6 col-md-4 manga-sheet">
        <div class="work-sheet data" data-category="album" data-id="{{ object.id }}">
            {% include "work_rating.html" with category="album" work=object show_title=False %}
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <p>Compositeur : <a href="/artist/{{ object.composer.id }}">{{ object.composer }}</a></p>
      <p>Code catalogue : {{ object.catalog_number }}</p>
      {% if object.vgmdb_aid %}
      <p><a href="http://vgmdb.net/album/{{ object.vgmdb_aid }}">Retrouvez cet album sur VGMdb</a></p>
      {% endif %}
      <hr/>
    </div>
</div>
<br />
{% if object.synopsis %}
    <div class="well">{{ object.synopsis }}</div>
{% endif %}
{% if user.is_authenticated %}
<a href="http://meta.mangaki.fr/session/sso" target="_blank"><button type="button" class="btn btn-primary">En discuter sur le forum</button></a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#suggestionModal">Proposer une modification</button>

<form class="typeahead-demo {{ user.username }}">
      <input type="text" data-username="{{ user.username }}" class="typeahead" placeholder="Conseiller cet album à un utilisateur" />
</form>
<div class="alert alert-danger" role="alert" id="alert-reco" style="display: none">Cet utilisateur a déjà écouté l'album que vous voulez lui recommander</div>
<div class="alert alert-success" role="alert" id="success-reco" style="display: none">La recommandation a bien été effectuée</div>

<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="suggestionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="suggestionModalLabel">Proposer une amélioration pour {{ object.title }}</h4>
      </div>
      <h5 style="text-indent:2em">Bienvenue sur l’interface d’amélioration de Mangaki :</h5>
      <ol>
      <li>Indiquez quelle partie de la fiche est concernée par votre proposition</li>
      <li>Écrivez-nous votre idée/solution, et envoyez !</li>
      </ol>
      <form id="suggestion" action="{% url 'album-detail' object.id %}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="alert" style="display: none"></div>
        <div class="alert alert-success" role="alert" id="success" style="display: none"></div>
        {{ suggestion_form|bootstrap }}
      </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" onclick="suggestion('album')">Envoyer</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<script>
category='album';
work_id='{{ object.id }}';
loadMenuReco();
</script>
{% endblock %}
