{% extends "base.html" %}

{% block body %}
{% if user.is_authenticated %}
<p class="well">
Voici une liste de <strong>{{ anime_count }}</strong> <em>anime</em>
{% if params.flat == '1' %}
    (<a href="?{{ url }}&amp;page={{ params.page }}">afficher les posters</a>)<br />
{% else %}
    (<a href="?{{ url }}&amp;page={{ params.page }}&amp;flat=1">cacher les posters</a>)<br />
{% endif %}
Trier :
{% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
    <a href="/anime/?letter={{ letter|lower }}">{{ letter }}</a>
{% endfor %}
<br />
Notez-en quelques-uns pour obtenir des <a href="/reco/">recommandations</a>.<br />
    <span class="label label-success"><span class="glyphicon glyphicon-thumbs-up"></span> J'aime</span>
    <span class="label label-warning"><span class="glyphicon glyphicon-adjust"></span> Neutre</span>
    <span class="label label-danger"><span class="glyphicon glyphicon-thumbs-down"></span> Je n'aime pas</span>
    <span class="label label-primary"><span class="glyphicon glyphicon-eye-open"></span> Je veux voir</span>
    <span class="label label-info"><span class="glyphicon glyphicon-eye-close"></span> Je ne veux pas voir</span>
</p>
{% else %}
<p class="well"><a href="/user/signup/">Inscrivez-vous</a> puis <a href="/user/login/">connectez-vous</a> pour noter ces <em>anime</em> et obtenir des recommandations.</p>
{% endif %}
<div class="row">
    <form class="typeahead-demo {{ category }}">
        <input type="text" data-category="{{ category }}" class="typeahead" />
    </form>
</div>
<div class="row mangas-list">
    {% for object in object_list %}
        {% include template_mode with work=object rating=object.rating %}
    {% endfor %}
</div>
<nav style="text-align: center">
  <ul class="pagination">
    {% if object_list.has_previous %}
    <li>
      <a href="?{{ url }}&amp;page={{ object_list.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for page in pages %}
        <li><a href="?{{ url }}&amp;page={{ page }}">{% if params.page == page %}<strong>{{ page }}</strong>{% else %}{{ page }}{% endif %}</a></li>
    {% endfor %}
    {% if object_list.has_next %}
    <li>
      <a href="?{{ url }}&amp;page={{ object_list.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<br />
<br />
<br />
<script>
loadMenu('anime');
</script>
{% endblock %}
