{% extends "base.html" %}
{% load bootstrap %}

{% block opengraph %}
<meta property="og:title" content="{{ object.title }} - Mangaki" />
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="http://mangaki.fr{% url "anime-detail" object.id %}" />
{% if object.poster %}
  <meta property="og:image" content="{{ object.poster }}" />
{% endif %}
{% if object.synopsis %}
  <meta property="og:description" content="{{ object.synopsis }}" />
  <meta name="description" content="{{ object.synopsis }}" />
{% endif %}
{% endblock %}

{% block title %}{{ object.title }} - Mangaki{% endblock %}

{% block body %}
<div class="alert alert-warning" role="alert" id="sorry" style="display: none"></div>
<div class="row mangas-list">
    <div class="col-md-12"> <!--  col-md-push-3 -->
        {% if anime.event_set.all.count %}
        <div class="well">
          Cet anime est prévu pour les événements suivants :
          <ul>
          {% for event in anime.event_set.all %}
            <li>{{ event.to_html|safe }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
        <h1>{{ object.title }}</h1>
    </div>
    <div class="col-sm-6 col-md-3 manga-sheet"> <!-- fluid col-sm-6 col-md-pull-3 -->
        <div class="thumbnail data" data-category="anime" data-id="{{ object.id }}">
            {% include "work_rating.html" with category="anime" work=object %}
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <p>Nombre d'épisodes : {{ object.nb_episodes }}</p>

        <p>Réalisateur : <a href="/artist/{{ object.director.id }}">{{ object.director }}</a></p>
        <p>Compositeur : <a href="/artist/{{ object.composer.id }}">{{ object.composer }}</a></p>
        <p>Auteur : <a href="/artist/{{ object.author.id }}">{{ object.author }}</a></p>
        <p>Éditeur : {{ object.editor }}</p>
        <p>Origine : {{ object.origin }}</p>
        <p>Genres : {{ genres }}</p>
        <p>Type : {{ object.anime_type }}</p>
    </div>
    <div class="col-sm-6 col-md-6">
        <h3>Statistiques</h3>
        <div style="max-width: 420px; max-height: 200px">
          <canvas id="stats" />
        </div>
        {% if references %}
          <h3>Références</h3>
          <ul>
          {% for url, name in references %}
              <li><a href="{{ url }}" target="_blank">Voir sur {{ name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
    </div>
</div>
<br />
{% if object.synopsis %}
    <div class="well">{{ object.synopsis|safe }}</div>
{% endif %}
{% if user.is_authenticated %}
    {% include "feedback_modal.html" with user=user object=object %}
{% endif %}

<script>
window.__INITIAL_STATE__ = {
    category: 'anime',
    work_id: '{{ object.id }}',
    doughnutData: [
        {% for stat in stats %}
            {value: {{ stat.value }}, color: '{{ stat.colors.normal }}', highlight: '{{ stat.colors.highlight }}', label: "{{ stat.label|safe }}"},
        {% endfor %}
    ]
}
window.onload = function(){
  var ctx = document.getElementById("stats").getContext("2d");
  window.myDoughnut = new Chart(ctx).Doughnut(window.__INITIAL_STATE__.doughnutData, {responsive: true});
};
</script>
<script src="/static/assets/ui.js"></script>
<script src="/static/assets/vote.js"></script>
<script src="/static/assets/suggestion.js"></script>
{% endblock %}
