{% extends "base.html" %}
{% load bootstrap %}

{% block opengraph %}
<meta property="og:title" content="{{ object.title }} - Mangaki" />
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="http://mangaki.fr{% url "anime-detail" object.id %}" />
{% if object.poster %}
  <meta property="og:image" content="{{ object.poster }}" />
{% endif %}
{% if object.synopsis %}
  <meta property="og:description" content="{{ object.synopsis }}" />
  <meta name="description" content="{{ object.synopsis }}" />
{% endif %}
{% endblock %}

{% block title %}{{ object.title }} - Mangaki{% endblock %}

{% block body %}
<div class="alert alert-warning" role="alert" id="sorry" style="display: none"></div>
<div class="row">
    <div class="col-md-12"> <!--  col-md-push-3 -->
        {% if anime.event_set.all.count %}
        <div class="well">
          Cet anime est prévu pour les événements suivants :
          <ul>
          {% for event in anime.event_set.all %}
            <li>{{ event.to_html|safe }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
        <h1>{{ object.title }}</h1>
    </div>
    <div class="col-sm-6 col-md-4 manga-sheet"> <!-- fluid col-sm-6 col-md-pull-3 -->
        <div class="work-sheet data" data-category="anime" data-id="{{ object.id }}">
            {% include "work_rating.html" with category="anime" work=object show_title=False %}
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <p>Nombre d'épisodes : {{ object.nb_episodes }}</p>

        <p>Réalisateur : <a href="/artist/{{ object.director.id }}">{{ object.director }}</a></p>
        <p>Compositeur : <a href="/artist/{{ object.composer.id }}">{{ object.composer }}</a></p>
        <p>Auteur : <a href="/artist/{{ object.author.id }}">{{ object.author }}</a></p>
        <p>Éditeur : {{ object.editor }}</p>
        <p>Origine : {{ object.origin }}</p>
        <p>Genres : {{ genres }}</p>
        <p>Type : {{ object.anime_type }}</p>
    </div>
    <div class="col-sm-6 col-md-5">
        <h3>Statistiques{% if seen_percent %} <small>(vu par {{ seen_percent }}&nbsp;% des membres qui l'ont noté)</small>{% endif %}</h3>
        <div style="max-width: 420px; max-height: 200px">
          <canvas id="stats" />
        </div>
        {% if references %}
          <h3>Références</h3>
          <ul>
          {% for url, name in references %}
              <li><a href="{{ url }}" target="_blank">Voir sur {{ name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
    </div>
</div>
<br />
{% if object.synopsis %}
    <div class="well">{{ object.synopsis|safe }}</div>
{% endif %}
{% if user.is_authenticated %}
<a href="http://meta.mangaki.fr/session/sso" target="_blank"><button type="button" class="btn btn-primary">En discuter sur le forum</button></a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#suggestionModal">Proposer une modification</button>

<form class="typeahead-demo {{ user.username }}">
    <input type="text" data-username="{{ user.username }}" class="typeahead" placeholder="Conseiller cet anime à un utilisateur" />
</form>
<div class="alert alert-danger" role="alert" id="alert-reco" style="display: none">Cet utilisateur a déjà vu l'anime que vous voulez lui recommander</div>
<div class="alert alert-success" role="alert" id="success-reco" style="display: none">La recommandation a bien été effectuée</div>

<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="suggestionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="suggestionModalLabel">Proposer une amélioration pour {{ object.title }}</h4>
      </div>
      <h5 style="text-indent:2em">Bienvenue sur l’interface d’amélioration de Mangaki :</h5>
      <ol>
      <li>Indiquez quelle partie de la fiche est concernée par votre proposition</li>
      <li>Écrivez-nous votre idée/solution, et envoyez !</li>
      </ol>
      <form id="suggestion" action="/anime/{{ object.id }}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="alert" style="display: none"></div>
        <div class="alert alert-success" role="alert" id="success" style="display: none"></div>
        {{ suggestion_form|bootstrap }}
      </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" onclick="suggestion('anime')">Envoyer</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
category='anime';
work_id='{{ object.id }}';
loadMenuReco();
doughnutData = [
  {% for stat in stats %}
    {value: {{ stat.value }}, color: '{{ stat.colors.normal }}', highlight: '{{ stat.colors.highlight }}', label: "{{ stat.label|safe }}"},
  {% endfor %}
]
window.onload = function(){
  var ctx = document.getElementById("stats").getContext("2d");
  window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive: true});
};
</script>
{% endblock %}
