{% extends "base.html" %}
{% load i18n %}

{% block body %}
<h1>{% trans "Artists" %}</h1>
<hr />

<form method="GET">
  <div class="input-group">
    <input class="search-input form-control" placeholder="Entrez un titre d'artiste (actuellement {{ nb_artists}})" type="search" name="search" {% if search %} value="{{ search }}" {% endif %} />
    <span class="input-group-btn">
  <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </div>
  <span class="help-block" style="float: right">{% trans "Hint: You can press Enter to trigger the search" %}</span>
</form>

<div class="row">
  <div class="col-md-12">
  {% for artist in object_list %}
      <div class="flatlist">
          <a href="{% url 'artist-detail' artist.id %}">{{ artist }}</a>
      </div>
  {% endfor %}
  </div>
</div>

{% include "pagination.html" %}
{% endblock %}
