{% extends "base.html" %}
{% load i18n %}

{% block subtitle %}{% trans "Legal mentions" %}{% endblock %}

{% block body %}
<h1>{% trans "Legal mentions" %}</h1>
<h2>{% trans "Icons" %}</h2>

{% blocktrans trimmed %}
The icons we used for the ratings are created by <a href="http://www.flaticon.com/authors/dave-gandy">Dave Gandy</a> for <a href="http://fontawesome.io">fontawesome</a>. The SVG version comes from <a href="http://www.flaticon.com/packs/font-awesome">flaticon</a>.
{% endblocktrans %}
{% endblock %}
