{% extends "base.html" %}
{% load bootstrap %}

{% block body %}
<div class="alert alert-warning" role="alert" id="sorry" style="display: none"></div>
<div class="row mangas-list">
    <div class="col-md-12"> <!-- col-md-push-3 -->
        <h1>{{ object.title }}</h1>
    </div>
    <div class="col-sm-6 col-md-3 manga-sheet">
        <div class="thumbnail data" data-category="manga" data-id="{{ object.id }}">
            {% include "work_rating.html" with category="manga" work=object %}
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <p>Titre original : <em>{{ object.vo_title }}</em></p>
        <p>Dessin : {{ object.mangaka }}</p>
        <p>Scénario : {{ object.writer }}</p>
        <p>Éditeur : {{ object.editor }}</p>
        <p>Origine : {{ object.origin }}</p>
        <p>Genres : {{ genres }}</p>
        <p>Type : {{ object.manga_type }}</p>
        <!--<br />XXXX<br />
        }
        }
        XX épisodes, terminée.<br />
        <a>Réalisateur</a>, <a>Compositeur</a></p>
    <h4>Liens</h4>
    <ul>
        <li>Voir la fiche sur Animeka</li>
        <li><a href="#">Acheter sur Kazé</a></li>
    </ul> -->
    <hr />
    <!-- <a href="/anime/{{ object.id }}/nsfw" class="btn btn-danger">NSFW</a> -->
    <!-- <h4>Actualité</h4>
    <ul>
        <li><a href="#">La 2e OST est sortie !</a></li>
        <li><a href="#">Fiche sur myAnimeList</a></li>
    </ul> -->
</div>
</div>
<br />
{% if object.synopsis %}
<div class="well">{{ object.synopsis }} (cc) <a href="http://manga-news.com" target="_blank">Manga-News</a></div>
{% endif %}
{% if user.is_authenticated %}
{% include "feedback_modal.html" with object=object user=user %}
{% endif %}
<script>
    window.__INITIAL_STATE__ = {
        category: 'manga',
        work_id: '{{ object.id }}'
    }
</script>
<script src="/static/assets/ui.js"></script>
<script src="/static/assets/vote.js"></script>
<script src="/static/assets/suggestion.js"></script>

{% endblock %}
