{% load static %}

<label class="rating rating_{{ name }} {{ extra_classes|default:"" }}" title="{{ title }}">
  <span class="sr-only">{{ title }}</span>
  <input
    type="checkbox"
    name="rating[{{ work.id }}]"
    value="{{ name }}"
    {% if disabled %}disabled{% endif %}
    class="rating__checkbox"{% if rating == name %} checked{% endif %}>
  <span class="rating__button">
    <svg class="rating__icon">
      <use xlink:href="{% static "img/ratings.svg" %}#{{ name }}"></use>
    </svg>
  </span>
</label>
