{% extends "base.html" %}

{% block body %}
{% if username == user.username %}
<h1>Partager mon profil <input type="checkbox" name="is_shared" {% if user.profile.is_shared %} checked{% endif %}/></h1>
<script>
$("[name='is_shared']").bootstrapSwitch();
$("[name='is_shared']").on('switchChange.bootstrapSwitch', function(event, state) {
    $.post('/shared/', {is_shared: state});
});
</script>
<p class="well">Les <em>anime</em> que vous avez notés. Pour en noter d'autres, accédez à <a href="/anime">la liste</a>.</p>
{% else %}
<h1>Profil de {{ username }}</h1>
{% endif %}
<div class="row mangas-list">
    {% for object in object_list %}
        {% include "work_poster.html" with work=object.work rating=object.choice %}
    {% empty %}
        <p>Soit {{ username }} n'a pas noté d'<em>anime</em>, soit son profil n'est pas public.</p>
    {% endfor %}
</div>
<br />
<br />
<br />
{% endblock %}
