{% for button in config %}
    <label class="rating rating_{{ button.name }} {{ button.extra_classes|join:" "|default:"" }}" title="{{ button.title }}">
      <span class="sr-only">{{ button.title }}</span>
      <input
        type="checkbox"
        name="rating[{{ work.id }}]"
        value="{{ button.name }}"
        {% if disabled %}disabled{% endif %}
        class="rating__checkbox"{% if rating == button.name %} checked{% endif %}>
      <span class="rating__button">
        <svg class="rating__icon">
              <use xlink:href="{{ rating_svg_link }}#{{ button.name }}"></use>
        </svg>
      </span>
    </label>
{% endfor %}
