{% extends "base.html" %}
{% load i18n %}

{% block body %}
{% if reco_list|length > 0 %}
<div class="col-md-12 col-sm-12">
    <div class="well">
        <p>
            {% blocktrans trimmed %}
                Here are some recommendations that you might like.<br />
                Rate them and reload to get new ones.
            {% endblocktrans %}
        </p>
    </div>
</div>
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <a class="nav-link{% if category == 'all' %} active{% endif %}" href="{% url 'reco' %}?algo={{ algo_name }}">{% trans "All" %}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link{% if category == 'anime' %} active{% endif %}" href="{% url 'reco' %}?algo={{ algo_name }}&amp;category=anime">
            {% trans "Anime only" %}</a></li>
        <li class="nav-item" role="presentation">
            <a class="nav-link{% if category == 'manga' %} active{% endif %}" href="{% url 'reco' %}?algo={{ algo_name }}&amp;category=manga">{% trans "Manga only" %}</a>
        </li>
    </ul>
    <br />
<div class="alert alert-warning" role="alert" id="sorry" style="display: none"></div>
{% include "works.html" with works=reco_list %}
<div class="row margin">
    <div class="col-xs-12">
        <a class="btn btn-primary btn-lg" href="{% url 'reco' %}?category={{ category }}&amp;algo={{ algo_name }}" style="display: block; margin: auto">{% blocktrans %}I want new recommendations! <br class="visible-xs">(After you rate those.){% endblocktrans %}</a>
    </div>
</div>
{% else %}
    {% url 'work-list' 'anime' as work_list_url %}
    <p class="well">{% blocktrans trimmed %}
        To receive recommandations, you should at least <a href="{{ work_list_url }}">rate an anime</a>!
        {% endblocktrans %}</p>
    <!-- Pour obtenir une recommandation, il faut au moins avoir <a href=\"{{ work_list_url }}\">noté un <em>anime</em></a>&nbsp;! -->
{% endif %}
{% endblock %}

{% block extrajs %}
{% if reco_list|length > 0 %}
<script>
$.getJSON('{% url 'get-reco-algo-list' algo_name=algo_name category=category %}', function(data) {
  data.forEach(function(work, i) {
    new Card($('.cards-grid .work-card:nth-child(' + (i+1) + ')'), '{{ category }}').hydrate(work);
  });
});
</script>
{% endif %}
{% endblock %}
