{% extends "base.html" %}
{% load i18n %}
{% load anonymous_ratings %}
{% load bootstrap4 %}

{% block subtitle %}{{ category|title }}{% endblock subtitle %}

{% block body %}
    <h1>{{ category|title }}</h1>
    {% if not request|has_anonymous_ratings %}
    <div class="alert alert-info">
        {% if user.is_authenticated %}
            {% url "reco" as reco_url %}
            {% blocktrans trimmed %}
                Rate a few cards below, or using the search bar.<br />
                Then click <a class="alert-link" href="{{ reco_url }}">Recommendations</a> to see what Mangaki recommends!
            {% endblocktrans %}
        {% else %}
            {% url "account_signup" as signup_url %}
            {% blocktrans trimmed with next_url=request.get_full_path|urlencode %}
                New on Mangaki? Start rating some works below! Then see your recommendations, and <a href="{{ signup_url }}?next={{ next_url }}">sign up</a> to keep your ratings.
            {% endblocktrans %}
        {% endif %}
    </div>
    {% endif %}

<div class="col-xs-12 text-center" style="padding: 10px 0">
    <span class="badge badge-favorite"><span class="glyphicon glyphicon-star"></span> {% trans "Love" %}</span>
    <span class="badge badge-success"><span class="glyphicon glyphicon-thumbs-up"></span> {% trans "Like" %}</span>
    <span class="badge badge-warning"><span class="glyphicon glyphicon-adjust"></span> {% trans "Neutral" %}</span>
    <span class="badge badge-danger"><span class="glyphicon glyphicon-thumbs-down"></span> {% trans "Dislike" %}</span>
    <span class="badge badge-primary"><span class="glyphicon glyphicon-eye-open"></span> {% spaceless %}
      {% if category == 'manga' %}
        {% trans "I want to read" %}
      {% else %}
        {% trans "I want to see" %}
      {% endif %}
    {% endspaceless %}</span>

    <span class="badge badge-info"><span class="glyphicon glyphicon-eye-close"></span> {% spaceless %}
      {% if category == 'manga' %}
        {% trans "I don't want to read" %}
      {% else %}
        {% trans "I don't want to see" %}
      {% endif %}
    {% endspaceless %}</span>
</div>

    {% if enable_kb_shortcuts %}
    <div class="row well shortcuts-explanations-container">
        <span>
            <h3><strong>
                {% trans "Cheatsheet for key shortcuts" %}
            </strong></h3>
        </span>
        <h4>{% trans "Moves" %}</h4>
        <ul>
            <li>{% trans "to the left" %}: <kbd>←</kbd></li>
            <li>{% trans "to the right" %}: <kbd>→</kbd></li>
        </ul>
        <h4>{% trans "Vote" %}</h4>
        <ul>
            <li>{% trans "Love" %}: <kbd>E</kbd></li>
            <li>{% trans "Like" %}: <kbd>R</kbd></li>
            <li>{% trans "Neutral" %}: <kbd>T</kbd></li>
            <li>{% trans "Dislike" %}: <kbd>Y</kbd></li>
            <li>{% trans "I want to see" %}: <kbd>G</kbd></li>
            <li>{% trans "I don't want to see" %}: <kbd>H</kbd></li>
        </ul>
    </div>
    {% endif %}

    {% include "search.html" %}

    <div class="form-row">

        <!-- Desktop tabs -->
        <ul class="nav nav-tabs mt-2 mb-2 d-none d-lg-flex">
        {% for sort_mode_, sort_name in sort_modes %}
            <li role="presentation" class="nav-item">
                <a class="nav-link{% if sort_mode == sort_mode_ %} active{% endif %}"
                   href="{% url 'work-list' category %}?sort={{ sort_mode_ }}">
                    {{ sort_name }}
                </a>
            </li>
        {% endfor %}
        </ul>

        <!-- Medium devices -->
        <div class="dropdown mt-2 d-block d-lg-none col-6">
            <button class="btn btn-danger btn-mangaki dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ sort_mode_display }}
            </button>
            <div class="dropdown-menu">
            {% for sort_mode_, sort_name in sort_modes %}
                <a class="dropdown-item{% if sort_mode == sort_mode_ %} active{% endif %}"
                   href="{% url 'work-list' category %}?sort={{ sort_mode_ }}">
                    {{ sort_name }}
                </a>
            {% endfor %}
            </div>
        </div>

        {% if sort_mode == 'alpha' %}
        <select class="col-6 offset-lg-3 mt-2 form-control" onchange="window.location = '{% url 'work-list' category %}?sort=alpha&amp;letter=' + this.value;">
            {% for letter_ in "0ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <option
                {% if letter_ == letter %}selected{% endif %}>
                    {{letter_}}
                </a>
            </option>
            {% endfor %}
        </select>
        {% endif %}
    </div>

    {% if flat %}
        {% include "works_no_poster.html" with works=object_list %}
    {% else %}
        {% include "works.html" with works=object_list %}
    {% endif %}

    {% include "pagination.html" %}

    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg btn-block mx-auto" style="white-space: normal" href="{% url 'reco' %}?category={{ category }}">{% trans "Get recommendations now" %}</a>
    {% endif %}

{% endblock %}

{% block extrajs %}
<script>
    var category = '{{ category }}';
    loadMenu();
    {% if sort_mode == 'mosaic' %}
    new Mosaic('.cards-grid', '{{ category }}', {{ enable_kb_shortcuts|yesno:"true,false" }});
    {% endif %}
</script>
{% endblock %}
