{% extends "base.html" %}
{% load i18n %}
{% load anonymous_ratings %}
{% load bootstrap4 %}

{% block body %}
    <div class="fb-container">
        {% if enable_kb_shortcuts %}
        <div class="row well shortcuts-explanations-container">
            <span>
                <h3><strong>
                    {% trans "Cheatsheet for key shortcuts" %}
                </strong></h3>
            </span>
            <h4>{% trans "Moves" %}</h4>
            <ul>
                <li>Aller à gauche: <kbd>←</kbd></li>
                <li>Aller à droite: <kbd>→</kbd></li>
            </ul>
            <h4>Voter</h4>
            <ul>
                <li>Mettre en favori: <kbd>E</kbd></li>
                <li>Aimer: <kbd>R</kbd></li>
                <li>Neutre: <kbd>T</kbd></li>
                <li>Ne pas aimer: <kbd>Y</kbd></li>
                <li>Je veux voir: <kbd>G</kbd></li>
                <li>Je ne veux pas voir: <kbd>H</kbd></li>
            </ul>
        </div>
        {% endif %}
        
        <div class="row mosaic">
            {% if not request|has_anonymous_ratings %}
                <div class="col-12">
                    <p class="alert alert-info">
                        {% if user.is_authenticated %}
                            {% url "reco" as reco_url %}
                            {% blocktrans trimmed %}
                                Rate a few cards below, or using the search bar.<br />
                                Then click <a class="alert-link" href="{{ reco_url }}">Recommendations</a> to see what Mangaki recommends!
                            {% endblocktrans %}
                        {% else %}
                            {% url "account_signup" as signup_url %}
                            {% blocktrans trimmed with next_url=request.get_full_path|urlencode %}
                                New on Mangaki? Start rating some works below! Then see your recommendations, and <a href="{{ signup_url }}?next={{ next_url }}">sign up</a> to keep your ratings.
                            {% endblocktrans %}
                        {% endif %}
                    </p>
                </div>
            {% endif %}

            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link{% if sort_mode == 'mosaic' %} active{% endif %}" href="{% url 'work-list' category %}">{% trans "Mosaic" %}</a></li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link{% if sort_mode == 'new' %} active{% endif %}" href="{% url 'work-list' category %}?sort=new">{% trans "Recent" %}</a></li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link{% if sort_mode == 'top' %} active{% endif %}" href="{% url 'work-list' category %}?sort=top">{% trans "Top" %}</a></li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link{% if sort_mode == 'popularity' %} active{% endif %}" href="{% url 'work-list' category %}?sort=popularity">{% trans "Popular" %}</a></li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link{% if sort_mode == 'pearls' %} active{% endif %}" href="{% url 'work-list' category %}?sort=pearls">{% trans "Pearls" %}</a></li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link{% if sort_mode == 'controversy' %} active{% endif %}" href="{% url 'work-list' category %}?sort=controversy">{% trans "Controversial" %}</a></li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link{% if sort_mode == 'random' %} active{% endif %}" href="{% url 'work-list' category %}?sort=random">{% trans "Random" %}</a></li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link{% if sort_mode == 'alpha' %} active{% endif %}" href="{% url 'work-list' category %}?sort=alpha&amp;letter={% if letter %}{{ letter }}{% else %}0{% endif %}">{% trans "A-Z" %}</a></li>
                </ul>
            </div>

            <div class="col-12" style="margin: 10px 0; text-align: center">
                {% if sort_mode == 'alpha' %}
                    <ul class="pagination pagination-sm" style="margin: 0">
                        {% for letter_ in "#ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                            <li role="presentation"
                                {% if letter_ == letter %}class="active"{% endif %}
                                {% if letter_ == '#' and letter == '0'%}class="active"{% endif %}>
                                <a
                                    href="{% url 'work-list' category %}?sort=alpha&amp;letter={% if letter_ == '#' %}0{% else %}{{ letter_ }}{% endif %}">
                                    {{letter_}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% elif user.is_authenticated and sort_mode != 'alpha' and sort_mode != 'random' and not is_dpp %}
                    <form method="GET">
                        <div class="input-group">
                            <input class="search-input form-control {{category}}" placeholder="{% blocktrans %}Enter the title of some {{category}} (currently {{ objects_count }} works){% endblocktrans %}" type="search" name="search" {% if search %} value="{{ search }}" {% endif %} />
                            <div class="input-group-append">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                        <span class="help-block" style="float: right">{% trans "Hint: press Enter to trigger the search" %}</span>
                    </form>
                {% endif %}
            </div>
            <div class="row col-12">
                {% if flat %}
                    {% include "works_no_poster.html" with works=object_list %}
                {% else %}
                    {% include "works.html" with works=object_list %}
                {% endif %}
            </div>

            {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg mx-auto" href="{% url 'reco' %}?category={{ category }}">{% trans "Get recommendations now" %}</a>
            {% endif %}

        </div>
    </div>

    {% include "pagination.html" %}

{% endblock %}

{% block extrajs %}
<script>
    var category = '{{ category }}';
    loadMenu();
    {% if sort_mode == 'mosaic' %}
    new Mosaic('.cards-grid', '{{ category }}', {{ enable_kb_shortcuts|yesno:"true,false" }});
    {% endif %}
</script>
{% endblock %}
