{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load posters %}

{% block opengraph %}
<meta property="og:title" content="{{ object.title }} - Mangaki" />
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="http://mangaki.fr{{ object.get_absolute_url }}" />
<meta property="og:image" content="{% poster_url object %}" />
{% if object.synopsis %}
  <meta property="og:description" content="{{ object.synopsis }}" />
  <meta name="description" content="{{ object.synopsis }}" />
{% endif %}
{% endblock %}

{% block twittercard %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@mangakifr" />
<meta name="twitter:title" content="{{ object.title }} - Mangaki" />
{% if object.synopsis %}
  <meta name="twitter:description" content="{{ object.synopsis }}" />
{% endif %}
<meta name="twitter:image" content="{% poster_url object %}" />
{% endblock %}

{% block title %}{{ object.title }} - Mangaki{% endblock %}

{% block body %}
<div class="alert alert-warning" role="alert" id="sorry" style="display: none"></div>
<div class="row">
    <div class="col-md-12"> <!-- col-md-push-3 -->
        <h1>{{ object.title }}</h1>
{#  FIXME: it is definitely not how we should show this. #}
{#        {% if object.worktitle_set.count != 0 %}#}
{#            <p> {% trans "Alternative titles" %} :#}
{#            {% for title in object.worktitle_set.all %}#}
{#            <p>&nbsp;&nbsp;&nbsp;{{title.language}} : {{title.title}} </p>#}
{#        #}
{#            {% endfor %}#}
{#            </p>#}
{#        {% endif %}  #}
    </div>
    <div class="col-sm-6 col-md-4 manga-sheet">
        <div class="work-sheet data" data-category="{{ object.category.slug }}" data-id="{{ object.id }}">
            {% include "mangaki/work_rating.html" with category=object.category.slug work=object config=config simple=True %}
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
    

	{% if object.category.slug == 'anime' %}
	  <p>{% trans "Number of episodes:" %} {{ object.nb_episodes }}</p>
	{% elif object.category.slug == 'manga' %}
	  <p>{% trans "Original title:" %} <em>{{ object.vo_title }}</em></p>
	{% endif %}

        {% for staff in object.staff_set.all %}
            <p>{% trans staff.role.name %} – <a href="{% url 'artist-detail' staff.artist.id %}">{{ staff.artist }}</a></p>
        {% endfor %}
	{% if object.category.slug == 'anime' or object.category.slug == 'manga' %}
	  <p>{% trans "Editor:" %} {{ object.editor }}</p>
	  <p>{% trans "Origin:" %} {{ object.origin }}</p>
	  <p>{% trans "Genres:" %} {{ genres }}</p>
	  {% if object.category.slug == 'anime' %}
	    <p>{% trans "Type:" %} {{ object.anime_type }}</p>
	  {% elif object.category.slug == 'manga' %}
	    <p>{% trans "Type:" %} {{ object.manga_type }}</p>
	  {% endif %}
	{% elif object.category.slug == 'album' %}
	  <p>{% trans "Catalog number:" %} {{ object.catalog_number }}</p>
	  {% if object.vgmdb_aid %}
	    <p><a href="http://vgmdb.net/album/{{ object.vgmdb_aid }}">{% trans "Find this album on VGMdb" %}</a></p>
	  {% endif %}
	{% endif %}
    </div>
    <div class="col-sm-6 col-md-5">
        {% if stats %}
        <h3>{% trans "Stats" %}</h3>
        <div style="max-width: 420px; max-height: 200px">
          <canvas id="stats" />
        </div>
        {% endif %}
        {% if references %}
          <h3>{% trans "References" %}</h3>
          <ul>
          {% for url, name in references %}
              <li><a href="{{ url }}" target="_blank">
                {% blocktrans %}Voir sur {{ name }}{% endblocktrans %}
              </a></li>
          {% endfor %}
          </ul>
        {% endif %}
    </div>
</div>
<br />
{% if object.synopsis %}
    <div class="well">
      {{ object.synopsis|safe }}
      {% if object.category.slug == 'manga' %}
	(cc) <a href="http://manga-news.com/">Manga-News</a>
      {% endif %}
    </div>
{% endif %}

{% if user.is_authenticated %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#suggestionModal">{% trans "Suggest an edit for this page" %}</button>

<form class="typeahead-demo {{ user.username }}">
  <input type="text" data-username="{{ user.username }}" class="typeahead" placeholder="{% trans "Suggest this work to a user on Mangaki" %}" />
</form>
<div class="alert alert-danger" role="alert" id="alert-reco" style="display: none">{% trans "This user already knows this work" %}</div>
<div class="alert alert-success" role="alert" id="success-reco" style="display: none">{% trans "Suggestion successfully sent!" %}</div>

<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="suggestionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="suggestionModalLabel">{% trans "Suggest an edit for" %} {{ object.title }}</h4>
      </div>
      <h5 style="text-indent:2em">{% trans "Thanks for improving Mangaki!" %}</h5>
      <ol>
      <li>{% trans "Please indicate what part of the work has a problem." %}</li>
      <li>{% trans "Sketch your solution, and submit it!" %}</li>
      </ol>
      <form id="suggestion" action="{{ object.get_absolute_url }}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="alert" style="display: none"></div>
        <div class="alert alert-success" role="alert" id="success" style="display: none"></div>
        {% bootstrap_form suggestion_form %}
      </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary" onclick="suggestion('{{ object.category.slug }}')">{% trans "Submit" %}</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}


{% block extrajs %}
<script>
category='{{ object.category.slug }}';
work_id='{{ object.id }}';
loadMenuReco();
doughnutData = [
  {% for stat in stats %}
    {value: {{ stat.value }}, color: '{{ stat.colors.normal }}', highlight: '{{ stat.colors.highlight }}', label: "{{ stat.label|safe }}"},
  {% endfor %}
]
window.onload = function(){
  var ctx = document.getElementById("stats").getContext("2d");
  window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive: true});
};
</script>
{% endblock %}
