{% extends "base.html" %}
{% load staticfiles %}



{% block body %}


<div class="row featured text-center">

<h1>FAQ</h1> 

{% for t in latest_theme_list %}

<div>
	<h4> {{ t.theme }}</h4>
</div>

		<div >
			<ul>
			{% for faqentry in t.faqentry_set.all %}
			{% if faqentry.is_active %}
					<li>
						<a href="#{{ faqentry.id }}">{{ faqentry.question }}</a>
						<div > <i>{{ faqentry.answer }}</i></div>
					</li>
			{% endif %}
			{% endfor %}
			</ul>
		</div>

{% endfor %}


<br />
<br />
<br />
{% endblock %}

