{{ ansible_managed|comment(decoration='; ') }}

[program:{{ celery_name }}]
command = {{ celery_venv_path }}/bin/celery worker -A {{ celery_app_module }}:{{ celery_app_name }} --loglevel={{ celery_log_level }} --autoscale={{ celery_autoscale_max }},{{ celery_autoscale_min }} -n worker.%%h
user = {{ celery_user }}
environment = {% for key, value in celery_env.items() %}{{ key }}="{{ value }}",{% endfor %}

{% if celery_beat %}
[program:{{ celery_beat_name }}]
command = {{ celery_venv_path }}/bin/celery beat -A {{ celery_app_module }}:{{ celery_app_name }} --loglevel={{ celery_log_level }}
user = {{ celery_user }}
environment = {% for key, value in celery_env.items() %} {{ key }}="{{ value }}", {% endfor %}
{% endif %}

; Need to wait for currently executing tasks to finish at shutdown.
stopwaitsecs = 600

; When resorting to send SIGKILL to the program to terminate it
; send SIGKILL to its whole process group instead,
; taking care of its children as well.
killasgroup=true
