{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; Fusionner plusieurs œuvres
</div>
{% endblock %}

{% block content %}
<form method="post">
{% csrf_token %}
<p>Sélectionnez les champs à conserver.</p>
<table>
{% for row in template_rows %}
    <tr>
        <th><span style="color: {{ row.color }}">{{ row.field }}</span></th>
        {% for choice in row.choices %}
            <td>
                <label>
                    {% if row.merge_type != 'INFO_ONLY' %}
                        {% comment %}
                        We need a |safe tag below, because of the datetime objects that are automatically converted into human readable.
                        {% endcomment %}
                        <input type="radio" name="{{ row.field }}" value="{{ choice|safe }}" {% if choice == row.suggested %} checked{% endif %} />
                    {% endif %}
                    {% if row.field == 'ext_poster' %}
                        <img src="{{ choice }}" alt="{{ choice }}" />
                    {% elif row.field == 'source' %}
                        <a href="{{ choice }}">{{ choice }}</a>
                    {% else %}
                        {{ choice }}
                    {% endif %}
                </label>
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    <tr>
        <th>rating_set</th>
        {% for nb_ratings, rating_sample in rating_samples %}
            <td>
                {{ nb_ratings }} ratings
                {{ rating_sample|unordered_list }}
            </td>
        {% endfor %}
    </tr>
</table>
<p>Souhaitez-vous réellement fusionner ces œuvres ?</p>
<div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="merge" />
    <input type="hidden" name="confirm" value="yes" />
    <input type="hidden" name="fields_to_choose" value="{{ fields_to_choose }}" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    <a href="#" class="button cancel-link">{% trans "No, take me back" %}</a>
</div>
</form>
{% endblock %}
