{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; Mettre à jour les tags depuis AniDB
</div>
{% endblock %}

{% block content %}
<form method="post">
{% csrf_token %}

{% for work_id, value in all_information %}

<h1>(#{{ work_id }}) {{ value.title }}</h1>

<div>
<p style="color: red;"><strong>Tags supprimés&nbsp;:</strong></p>
{% if value.deleted_tags %}
    {% for tag_title, tag_infos in value.deleted_tags %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;
            <strong><label for="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}">{{ tag_title }}</label></strong>, avec un poids de&nbsp;
            <input type="hidden" value="{{ tag_title }}" name="tag_titles" />
            <input type="text" style="max-width: 70px" value="{{ tag_infos.weight }}" id="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}" name="weights" />
            <input type="hidden" value="{{ tag_infos.anidb_tag_id }}" name="anidb_tag_ids" />
        </p>
    {% endfor %}
{% else %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Aucun tag n'a été supprimé.</p>
{% endif %}
</div>

<div>
<p style="color: green;"><strong>Tags ajoutés&nbsp;:</strong></p>
{% if value.added_tags %}
    {% for tag_title, tag_infos in value.added_tags %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;
            <strong><label for="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}">{{ tag_title }}</label></strong>, avec un poids de&nbsp;
            <input type="hidden" value="{{ tag_title }}" name="tag_titles" />
            <input type="text" style="max-width: 70px" value="{{ tag_infos.weight }}" id="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}" name="weights" />
            <input type="hidden" value="{{ tag_infos.anidb_tag_id }}" name="anidb_tag_ids" />
        </p>
    {% endfor %}
{% else %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Aucun tag n'a été ajouté.</p>
{% endif %}
</div>

<div>
<p style="color: orange;"><strong>Tags modifiés&nbsp;:</strong></p>
{% if value.updated_tags %}
    {% for tag_title, tag_infos in value.updated_tags %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;
            <strong><label for="{{ tag_title }}_{{ tag_infos.1.anidb_tag_id }}">{{ tag_title }}</label></strong>, dont le poids passe de {{ tag_infos.0.weight }} à&nbsp;
            <input type="hidden" value="{{ tag_title }}" name="tag_titles" />
            <input type="text" style="max-width: 70px" value="{{ tag_infos.1.weight }}" id="{{ tag_title }}_{{ tag_infos.1.anidb_tag_id }}" name="weights" />
            <input type="hidden" value="{{ tag_infos.1.anidb_tag_id }}" name="anidb_tag_ids" />
        </p>
    {% endfor %}
{% else %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Aucun tag n'a été modifié.</p>
{% endif %}
</div>

<div>
<p><strong>Tags conservés&nbsp;:</strong></p>
{% if value.kept_tags %}
    {% for tag_title, tag_infos in value.kept_tags %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;
            <strong><label for="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}">{{ tag_title }}</label></strong>, avec un poids de&nbsp;
            <input type="hidden" value="{{ tag_title }}" name="tag_titles" />
            <input type="text" style="max-width: 70px" value="{{ tag_infos.weight }}" id="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}" name="weights" />
            <input type="hidden" value="{{ tag_infos.anidb_tag_id }}" name="anidb_tag_ids" />
        </p>
    {% endfor %}
{% else %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Aucun tag n'a été conservé.</p>
{% endif %}
</div>

{% endfor %}

<p>Quelles sont les œuvres dont vous souhaitez mettre les tags à jour ?</p>
<div>
    {% for work_id, value in all_information %}
    <p><label><input type="checkbox" name="checks" value="{{ work_id }}" /> {{ value.title }} </label></p>
    {% endfor %}

    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="{{ action }}" />
    <input type="hidden" name="confirm" value="yes" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    <a href="#" class="button cancel-link">{% trans "No, take me back" %}</a>
</div>
</form>
{% endblock %}
