{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; Mettre à jour les tags depuis AniDB
</div>
{% endblock %}

{% block content %}
<form method="post">
{% csrf_token %}

<p>Veuillez vérifier que les modifications sur les tags vous conviennent, et valider ces modifications.</p>
<p>Vous pouvez aussi mettre à jour le poids des tags manuellement.</p>
<p><strong>Liste des œuvres sélectionnées à traiter :</strong>
    {% for work_id, value in all_information %}
    <a href="#work_{{ work_id }}">{{ value.title }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<hr/><br/>

{% for work_id, value in all_information %}

<h1 id="work_{{ work_id }}">(<a href="#work_{{ work_id }}">#{{ work_id }}</a>) {{ value.title }}</h1>

{% if value.deleted_tags %}
<div>
<p style="color: red;"><strong>Tags supprimés&nbsp;:</strong></p>
    <ul>
    {% for tag_title, tag_infos in value.deleted_tags %}
        <li>
            <strong><label for="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}">{{ tag_title }}</label></strong>, avec un poids de&nbsp;
            <input type="hidden" value="{{ tag_title }}" name="tag_titles" />
            <input type="text" style="max-width: 70px" value="{{ tag_infos.weight }}" id="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}" name="weights" />
            <input type="hidden" value="{{ tag_infos.anidb_tag_id }}" name="anidb_tag_ids" />
            <input type="hidden" value="{{ work_id }}" name="work_ids" />
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if value.added_tags %}
<div>
<p style="color: green;"><strong>Tags ajoutés&nbsp;:</strong></p>
    <ul>
    {% for tag_title, tag_infos in value.added_tags %}
        <li>
            <strong><label for="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}">{{ tag_title }}</label></strong>, avec un poids de&nbsp;
            <input type="hidden" value="{{ tag_title }}" name="tag_titles" />
            <input type="text" style="max-width: 70px" value="{{ tag_infos.weight }}" id="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}" name="weights" />
            <input type="hidden" value="{{ tag_infos.anidb_tag_id }}" name="anidb_tag_ids" />
            <input type="hidden" value="{{ work_id }}" name="work_ids" />
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if value.updated_tags %}
<div>
<p style="color: orange;"><strong>Tags modifiés&nbsp;:</strong></p>
    <ul>
    {% for tag_title, tag_infos in value.updated_tags %}
        <li>
            <strong><label for="{{ tag_title }}_{{ tag_infos.1.anidb_tag_id }}">{{ tag_title }}</label></strong>, dont le poids passe de {{ tag_infos.0.weight }} à&nbsp;
            <input type="hidden" value="{{ tag_title }}" name="tag_titles" />
            <input type="text" style="max-width: 70px" value="{{ tag_infos.1.weight }}" id="{{ tag_title }}_{{ tag_infos.1.anidb_tag_id }}" name="weights" />
            <input type="hidden" value="{{ tag_infos.1.anidb_tag_id }}" name="anidb_tag_ids" />
            <input type="hidden" value="{{ work_id }}" name="work_ids" />
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if value.kept_tags %}
<div>
<p><strong>Tags conservés&nbsp;:</strong></p>
    <ul>
    {% for tag_title, tag_infos in value.kept_tags %}
        <li>
            <strong><label for="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}">{{ tag_title }}</label></strong>, avec un poids de&nbsp;
            <input type="hidden" value="{{ tag_title }}" name="tag_titles" />
            <input type="text" style="max-width: 70px" value="{{ tag_infos.weight }}" id="{{ tag_title }}_{{ tag_infos.anidb_tag_id }}" name="weights" />
            <input type="hidden" value="{{ tag_infos.anidb_tag_id }}" name="anidb_tag_ids" />
            <input type="hidden" value="{{ work_id }}" name="work_ids" />
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<p><strong><label>Mettre à jour les tags de cette œuvre ?&nbsp;&nbsp;<input type="checkbox" name="to_update_work_ids" value="{{ work_id }}" /> </label></strong></p>

<hr/><br/>

{% endfor %}

<p><strong>Êtes-vous certains de vos choix (et éventuelles modifications sur les poids) ?</strong></p>
<div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="{{ action }}" />
    <input type="hidden" name="confirm" value="yes" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    <a href="#" class="button cancel-link">{% trans "No, take me back" %}</a>
</div>
</form>
{% endblock %}
